    @mixin header() {

        @media screen and (max-width:1920px) {
            .sign_box .btn-group {
                display: none;
            }
        }

        @media screen and (max-width:840px) {
            header .btn_header {
                width: 200px;
            }
        }

        @media screen and (max-width:830px) {
            header {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

            header .logo_box {
                width: 200px;
            }

            header .logo_box a{
                width: 200px;
            }
            header .logo_box .bar {
                width: 150px;
            }

            header .btn_header {
                width: 135px;
                height: 50px;
                font-size: 11px;
            }

            header .sign_box {
               width: 280px;
            } 
        }


        @media screen and (max-width:600px) {
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: linear-gradient(341deg, #59A084 -60.24%, #F2F2F2 76.43%);
                padding: 20px;
            }

            header .sign_box .karmir {
                display: none;
            }

            header .sign_box svg {
                display: none;
            }


            header .logo_box {
                position: relative;
                right: 70px;
            }


            .down_header {
                display: none;
            }

            header .logo_box {
                width: 50px;
            }

            header .logo_box a {
                width: 50px;
            }

            header .container {
                display: flex;
                width: 10%;
            }

            header .container .hamburger {
                display: block;
            }

            header .sign_box {
                width: 250px;
            }

            header .sign_box .btn_header {
                width: 150px;
            }

            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }

            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }

            header .nav-menu {
                display: flex;
                position: fixed;
                left: -100%;
                top: 100px;
                gap: 0;
                flex-direction: column;
                background-color: #262626;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                z-index: 10;
            }

            header .nav-menu .nav-item {
                margin: 16px 0;
            }

            header .nav-menu.active {
                left: 6px;
                width: 98%;
                height: 500px;
                background: var(--color-main-color-green, #7EAA92);
            }

            header .logo_box {
                width: 50px;
            }

            header .logo_box .bar {
                display: none;
            }

            header .btn_header {
                width: 100px;
                height: 52px;
                font-size: 13px;
            }
        }

        @media screen and (max-width:560px) {
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 40px;
            }

            header .btn_header {
                display: none;
            }

            header .sign_box {
                width: 50px;
            }

            .sign_box .btn-group {
                display: flex;
            }

            header .logo_box svg {
                position: relative;
                right: 0px;
            }
        }

        @media screen and (max-width:490px) {
            header .map_box_header span {
                display: none;
            }

            header .map_box_header svg {
                position: relative;
                left: 0px;
            }

            header .logo_box svg {
                position: relative;
                left: -40px;
            }
        }

        @media screen and (max-width:440px) {
            header {
                padding: 5px;
            }

            header .logo_box a {
                width: 50px;
            }

            header .map_box_header span {
                display: none;
            }

            header .map_box_header svg {
                display: none;
            }

            header .btn_header {
                display: none;
            }

            header .sign_box {
                width: 150px;
            }

            header .sign_box span {
                display: none;
            }

            .sign_box .btn-group {
                display: flex;
            }

        }
    }

    @mixin First_page() {
        @media screen and (max-width:1920px) {
            height: 1000px;
            position: relative;
            top: 160px;
            .nerqev_all .box_5_nerqev {
                height: 350px;
            }

            .nerqev_all .box_5_nerqev .soxranit_izmenia {
                position: relative;
                top: 150px;
                left: 0px;
            }

            .f_page_box1 .border_shrjan {
                position: relative;
                top: 20px;
            }

            .f_page_box_2 .nerqev_all {
                position: relative;
                left: 60px;
            }

            .f_page_box_verev {
                position: relative;
                left: -100px;
                top: -40px;
            }


            .f_page_box1 {
                position: relative;
                left: -65px;
                top: -30px;
            }

            .first_div_nerqer_2 {
                position: relative;
                left: -150px;
                top: 50px;
            }

            .f_page_box1 img {
                position: relative;
                top: 50px;
            }

            .right_box .first_div_verev_1 {
                position: relative;
                left: -135px;
                top: 60px;
            }

            .f_page_box1 .Elizaveta {
                position: relative;
                top: 50px;
            }

            .f_page_box1 .f_page_text_box_1 {
                position: relative;
                top: 80px;
            }

            .boxer_media {
                display: none;
            }

            .f_page_box1 .shrjan {
                display: none;
            }

            .f_page_box1 .moy_profil {
                display: none;
            }

            .f_page_box_2 .f_page_box_2_verev {
                position: relative;
                left: 80px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1_moi {
                width: 368px;
                position: relative;
                left: 0;
                padding: 30px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1 {
                width: 368px;
                position: relative;
                left: 0;
                padding: 30px;
            }
        }


        @media screen and (max-width:1790px) {
            .f_page_box_verev {
                position: relative;
                left: -60px;
            }

            .f_page_box1 {
                position: relative;
                left: -20px;
            }

            .f_page_box1 .Elizaveta {
                position: relative;
                top: 50px;
            }

            .f_page_box1 .f_page_text_box_1 {
                position: relative;
                top: 0px;
            }

            .f_page_box1 img {
                position: relative;
                top: 50px;
            }

            .f_page_box1 .border_shrjan {
                position: relative;
                top: 20px;
            }

            .f_page_box_2 .f_page_box_2_verev {
                width: 1100px;
            }

            .nerqev_all {
                flex-wrap: wrap;
            }

            .nerqev_all .box_5_nerqev {
                height: 200px;
            }

            .nerqev_all .box_5_nerqev .soxranit_izmenia {
                position: relative;
                top: 50px;
                right: 40px;
            }

            .f_page_box1 .f_page_text_box_1 {
                width: 368px;
                position: relative;
                left: -20px;
                top: 80px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1_moi {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1 {
                width: 365px;
                position: relative;
                left: 22px;
            }


            .right_box .first_div_verev_1 {
                position: relative;
                left: -80px;
            }

            .first_div_nerqer_2 {
                position: relative;
                left: -100px;
            }
        }

        @media screen and (max-width:1580px) {
            .right_box .first_div_nerqer_2 {
                width: 950px;
                position: relative;
                left: 40px;
            }

            .right_box .first_div_verev_1 {
                position: relative;
                left: 60px;
            }

            .first_div_nerqer_2 img {
                width: 340px;
                position: absolute;
                top: 10px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1 {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1_moi {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .f_page_box_verev {
                position: relative;
                left: -20px;
            }


            .f_page_box1 {
                position: relative;
                left: 10px;
            }
        }

        @media screen and (max-width:1390px) {
            .right_box .first_div_nerqer_2 {
                width: 750px;
            }

            .first_div_nerqer_2 img {
                width: 200px;
                position: absolute;
                right: -5px;
                top: 62px;
            }
        }

        @media screen and (max-width:1180px) {
            height: 1400px;

            .f_page_all {
                flex-wrap: wrap;
            }

            .f_page_box_verev {
                position: relative;
                top: -20px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1 .border {
                display: none;
            }

            .f_page_all .f_page_box1 {
                height: 700px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1_moi {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .f_page_box1 .f_page_text_box_1 .box_1 {
                width: 365px;
                position: relative;
                left: 22px;
            }

        }

        @media screen and (max-width:980px) {
            height: 1400px;


            .f_page_all .f_page_box1 .f_page_text_box_1 .box_1 {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .f_page_all .f_page_box1 .f_page_text_box_1 .box_1_moi {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .first_div_nerqer_2 img {
                position: absolute;
                top: 48px;
            }

        }

        @media screen and (max-width:890px) {
            .first_div_nerqer_2 img {
                width: 200px;
                position: absolute;
                top: 90px;
                right: -14px;
            }

            .right_box {
                position: relative;
                left: 20px;
            }

            .first_div_nerqer_2 .seychas_yvas {
                font-size: 26px;
            }

            .first_div_nerqer_2 .esli_vi {
                font-size: 14px;
            }

            .first_div_nerqer_2 .sozdat_obyavlenie {
                width: 280px;
            }

            .right_box .first_div_nerqer_2 {
                width: 700px;
                position: relative;
                left: 0px;
            }

            .f_page_all .f_page_box1 .f_page_text_box_1 .box_1 {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .f_page_all .f_page_box1 .f_page_text_box_1 .box_1_moi {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .right_box .first_div_verev_1 {
                position: relative;
                left: 20px;
            }
        }

        @media screen and (max-width:750px) {
            .right_box .first_div_nerqer_2 {
                width: 400px;
                position: relative;
                left: 100px;
            }

            .right_box .first_div_verev_1 {
                position: relative;
                left: 85px;
            }

            .first_div_nerqer_2 img {
                display: none;
            }

            .first_div_nerqer_2 .seychas_yvas {
                font-size: 16px;
            }
        }

        @media screen and (max-width:590px) {
            .right_box .first_div_verev_1 {
                position: relative;
                left: 40px;
                top: 100px;
            }

            .right_box .first_div_nerqer_2 {
                position: relative;
                left: 30px;
                top: 60px;
            }

            .f_page_box_verev {
                position: relative;
                top: -10px;
            }

            .f_page_box1 .border_shrjan {
                position: relative;
                top: 50px;
            }

            .f_page_box1 img {
                position: relative;
                top: 80px;
            }

            .f_page_all .f_page_box1 .f_page_text_box_1 .box_1 {
                width: 365px;
                position: relative;
                left: 22px;
            }

            .f_page_all .f_page_box1 .f_page_text_box_1 .box_1_moi {
                width: 365px;
                position: relative;
                left: 22px;
            }
        }

        @media screen and (max-width:510px) {
            .right_box .first_div_verev_1 {
                width: 380px;
                position: relative;
                left: 20px;
            }

            .right_box .first_div_nerqer_2 {
                position: relative;
                left: 0px;
            }

            
            .first_div_nerqer_2 .seychas_yvas {
                font-size: 16px;
            }
        }

        @media screen and (max-width:425px) {
            .right_box .first_div_nerqer_2 {
                width: 350px;
                position: relative;
                left: -40px;
            }

            .first_div_nerqer_2 .seychas_yvas {
                font-size: 16px;
            }

            .right_box {
                width: 300px;
            }

            .right_box .first_div_verev_1 {
                width: 280px;
                position: relative;
                left: -20px;
            }

            .right_box .first_div_verev_1 span {
                font-size: 16px;
            }

            .right_box .first_div_verev_1 .border_aktiv {
                width: 80px;
                position: relative;
                left: -5px;
            }
        }

        @media screen and (max-width:385px) {
            .f_page_all .f_page_box1 {
                width: 320px;
            }

            .f_page_all .f_page_box1 .f_page_text_box_1 .box_1_moi {
                width: 320px;
                position: relative;
                left: 47px;
            }

            .f_page_all .f_page_box1 .f_page_text_box_1 .box_1 {
                width: 320px;
                position: relative;
                left: 47px;
            }

            .f_page_all .f_page_box1 {
                position: relative;
                left: 30px;
            }
        }
    }


    @mixin Footer() {
        @media screen and (max-width:1920px) {
            .box_3_foot .podpishis {
                display: none;
            }

            .footer_all .text_box_2_foot .box_4_foot {
                display: none;
            }

            .icona_box {
                display: none;
            }
        }


        @media screen and (max-width:1220px) {
            footer .text_box_2_foot {
                width: 800px;
                transition: 0.5s ease;
            }
        }


        @media screen and (max-width:1125px) {
            .footer_all .text_box_2_foot .box_3_foot form .vvedite_email {
                width: 210px;
                font-size: 14px;
            }

            .footer_all .text_box_2_foot .box_3_foot form .emailFootSvg {
                position: relative;
                top: -32px;
                left: 180px;
            }

            footer .text_box_1_foot .logo_box_foot {
                position: relative;
                left: 20px;
                transition: 0.5s ease;
            }
        }

        @media screen and (max-width:1030px) {
            .footer_all .logo_box_foot {
                display: none;
            }

            footer .text_box_2_foot {
                width: 1000px;
            }

            .footer_all {
                flex-wrap: wrap;
            }

            .footer_all img {
                display: none;
            }

            .footer_all .text_box_2_foot .box_3_foot form .vvedite_email {
                width: 230px;
            }

            footer .text_box_1_foot .logo_box_foot {
                position: relative;
                left: 400px;
            }
        }


        @media screen and (max-width:900px) {
            footer .text_box_1_foot .logo_box_foot {
                position: relative;
                left: 350px;
            }
        }

        @media screen and (max-width:740px) {
            footer .text_box_2_foot .box_3_foot .na_nashu {
                width: 200px;
            }

            footer .text_box_1_foot .logo_box_foot {
                position: relative;
                left: 220px;
            }

            .footer_all .text_box_2_foot .box_3_foot .vvedite_email {
                width: 210px;
            }
        }

        @media screen and (max-width:730px) {
            footer {
                height: 400px;
            }

            footer .foot {
                display: none;
            }

            .footer_all .text_box_2_foot .box_1_foot {
                display: none;
            }

            .footer_all .text_box_2_foot .box_2_foot {
                display: none;
            }

            .footer_all .text_box_2_foot .box_4_foot {
                display: flex;
            }

            .box_3_foot .na_nashu {
                display: none;
            }

            .footer_all .text_box_2_foot {
                height: 400px;
                flex-direction: column;
            }

            .footer_all .text_box_2_foot .box_3_foot {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }

            .footer_all .text_box_2_foot .box_3_foot .vvedite_email {
                width: 300px;
                height: 60px;
                padding: 20px;
            }


            .footer_all .text_box_2_foot .box_3_foot form .emailFootSvg {
                position: relative;
                top: -40px;
                left: 190px;
            }

            .text_box_2_foot .box_3_foot .podpishis {
                width: 260px;
                display: flex;
                text-align: center;
            }

            .icona_box {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }

        @media screen and (max-width:560px) {
            footer .text_box_1_foot .logo_box_foot {
                position: relative;
                left: 140px;
            }
        }


        @media screen and (max-width:500px) {
            footer .text_box_1_foot .logo_box_foot {
                position: relative;
                left: 110px;
            }
        }


        @media screen and (max-width:430px) {
            footer .text_box_1_foot .logo_box_foot {
                position: relative;
                left: 80px;
            }
        }

        @media screen and (max-width:335px) {
            footer .text_box_1_foot .logo_box_foot {
                position: relative;
                left: 20px;
            }
        }
    }