@import "./mixin_media";
@import "./variables";
@import "./fonts";
@import "./mixin";
@import "./color";


* {
    margin: $zero;
    padding: $zero;
    box-sizing: $border_box;
}


main {
    width: $width_100_tokos;
    height: auto;
    @include flex_Center();
    flex-direction: $flex_column;

    header {
        width: $width_100_tokos;
        height: $header_height;
        border-bottom: $header_border_bottom_2;
        @include flex_center_between();
        padding: $padding_50;
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .container {
            display: none;
            margin: 0 auto;

            .navbar {
                min-height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: white;
                    text-decoration: none;
                }

                .nav-menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0px;

                    li {
                        list-style: none;
                    }

                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }

            .hamburger {
                display: none;
                cursor: pointer;


                .bar {
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    background-color: black;
                    border-radius: 20px;
                }
            }

        }



        .map_box_header {
            width: $map_box_header_width;
            height: $map_box_header_height;
            @include flex_Center();

            svg {
                margin: $margin_10;
            }
        }

        .logo_box {
            a {
                width: $logo_box_width;
                height: $logo_box_height;
                @include flex_Center();

                .bar {
                    margin: $margin_10;
                }
            }
        }

        .btn_header {
            width: $btn_header_width;
            height: $btn_header_height;
            border-radius: $border_radius_8;
            background: $bg_color_green;
            color: $color_white;
            font-family: Lato;
            font-size: $font_size_16;
            font-style: $font_style_normal;
            font-weight: $font_weight_500;
            line-height: $line_height_22;
            @include flex_Center();
            gap: $gap_10;
            border: $border_none;
            cursor: $cursor_pointer;
        }

        .sign_box {
            width: $sign_box_width;
            height: $sign_box_height;
            @include flex_Center();
            gap: $gap_10;

            .karmir {
                width: 16.387px;
                height: 16.387px;
                background: red;
                border-radius: 50%;
                position: relative;
                right: 23px;
                bottom: 5px;
                @include flex_Center();

                span {
                    color: $color_white;
                }
            }

            .dropdown-toggle {
                width: $dropdown_toggle_width;
                height: $dropdown_toggle_height;
                background: none;
                border: none;
            }
        }

        .btn-group .dropdown-menu a {
            @include flex_Center();
            color: $color_black;
        }

        .btn-group .dropdown-menu {
            width: $dropdown_menu_width;
            height: $dropdown_menu_height;
        }
    }

    .down_header {
        width: $down_header_width;
        height: $down_header_height;
        @include flex_Center();
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: 900;
        background-color: #ffffff;

        .menu {
            width: $menu_width;
            height: $menu_height;
            @include flex_center_around();

            a {
                color: $color_dark_gray;
                font-family: Lato;
                font-size: $font_size_16;
                font-style: $font_style_normal;
                font-weight: $font_weight_500;
                line-height: $line_height_22;
                text-decoration: $text_decoration_none;
            }
        }
    }

    @include header();

    .first_page {
        width: 100%;
        height: 1300px;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;

        .f_page_all {
            width: 95%;
            display: flex;
            align-items: start;
            justify-content: space-around;
            flex-direction: row;

            .boxing {
                flex-direction: column;
            }
        }

        .f_page_box_verev {
            width: 368px;
            height: 69px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            a {
                text-decoration: none;
            }

            .glavni {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                color: rgba(89, 79, 75, 0.80);
                text-align: center;
                font-family: Lato;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
            }
        }

        .f_page_box1 {
            width: 368px;
            height: 751px;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            border-radius: 8px;
            border: 2px solid var(--Stroke-Main-color-card, rgba(63, 56, 53, 0.20));
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

            img {
                position: relative;
                top: 40px;
            }

            a {
                color: var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
                text-align: center;
                font-family: Lato;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 156%;
                /* 31.2px */
            }

            .border_shrjan {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #7EAA92;
                border: 3px solid #F8F8F8;
                border-radius: 50%;
                position: relative;
                left: 50px;

                svg {
                    width: 16px;
                    height: 16px;
                    flex-shrink: 0;
                }
            }

            .Elizaveta {
                color: var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
                text-align: center;
                font-family: Lato;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 69px;
                letter-spacing: 0.25px;
                position: relative;
                top: 40px;
            }

            .f_page_text_box_1 {
                width: 368px;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;

                a {
                    text-decoration: none;
                }

                .box_1_moi {
                    width: 368px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;
                    position: relative;
                    left: -48px;
                    border-right: 10px solid #7EAA92;
                    background: #DBE7E2;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
                    padding: 30px;
                }

                .box_1 {
                    width: 368px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;
                    position: relative;
                    left: -48px;
                    padding: 30px;

                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: start;
                        justify-content: start;
                    }


                    &:active {
                        border-right: 10px solid #7EAA92;
                        background: #DBE7E2;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
                    }

                    .border {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: #EC4C4C;
                        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.25));
                        @include flex_Center();
                        color: white;
                    }
                }
            }
        }

        .right_box {
            width: 1150px;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 60px;

            .padverjd {
                width: 408px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;


                .love {
                    position: relative;
                    top: 210px;
                    left: -15px;
                    z-index: 5;
                }

                .padverjdyonniy {
                    width: 188px;
                    height: 29px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.55);
                    position: relative;
                    left: 20px;
                    top: 210px;
                    color: #574F4B;
                    font-family: Lato;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 156%;
                    letter-spacing: -0.24px;
                    gap: 20px;
                    z-index: 5;
                }
            }

            .first_div_verev_1 {
                width: 140px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    text-decoration: none;
                }

                span {
                    color: var(--color-main-color-text, #3F3835);
                    font-family: Lato;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 187.2%;
                    position: relative;
                    top: 10px;
                }
            }

            .love_1 {
                position: relative;
                left: 365px;
                top: -320px;
                z-index: 50;
            }

            .love_2 {
                position: relative;
                left: 365px;
                top: -740px;
                z-index: 5;
            }
        }


        .first_div_nerqev_1 {
            width: 1250px;
            height: 273px;
            display: flex;
            align-items: start;
            justify-content: space-between;

            img {
                height: 273px;
                border-radius: 8px 0px 0px 0px;
                background: linear-gradient(0deg, rgba(216, 236, 225, 0.14) 0%, rgba(216, 236, 225, 0.14) 100%), url(<path-to-image>), lightgray -0.632px 0px / 100.31% 100% no-repeat;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
                // z-index: 4;
            }

            .nerqev_1_box_1 {
                width: 825px;
                height: 273px;
                display: flex;
                align-items: start;
                justify-content: space-between;
                padding-left: 20px;
                border-bottom: 1px solid rgba(63, 56, 53, 0.15);



                .recycle_box {
                    width: 30px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top: 210px;


                    .radaktirovat {
                        width: 167px;
                        height: 45px;
                        border-radius: 8px;
                        border: 1.5px solid var(--Color-Main-color-green, #7EAA92);
                    }
                }

                .box_1_box {
                    width: 546.203px;
                    height: 226px;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    position: relative;
                    top: 20px;

                    .tesak_anun {
                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 10px;
                        color: var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
                        text-align: center;
                        font-family: Lato;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 156%;
                        letter-spacing: -0.28px;

                    }

                    .opisanie {
                        color: var(--Color-Main-color-text, #3F3835);
                        font-family: Lato;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 156%;
                    }

                    .cena {
                        color: var(--Color-Main-color-green, #7EAA92);
                        font-family: Lato;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 156%;
                        /* 31.2px */
                        letter-spacing: 0.4px;
                    }

                    .amsativ {
                        width: 105px;
                        // height: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .tesak {
                        height: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
                        text-align: center;
                        font-family: Lato;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 156%;
                        letter-spacing: -0.28px;
                        gap: 10px
                    }
                }
            }
        }

        @include First_page();
    }







    footer {
        width: $width_100_tokos;
        height: $footer_height;
        @include flex_start_start();
        @include flex_column();
        border-top: 1px solid var(--Color-Main-color-text, #3F3835);


        .footer_all {
            width: $footer_all_width;
            @include flexBetween();
        }

        .text_box_1_foot {
            @include flex_start_start();
            @include flex_column();

            img {
                cursor: pointer;
            }

            .logo_box_foot {
                width: 268px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include logo_box_foot_position();
            }

        }

        .text_box_2_foot {
            width: $text_box_2_foot_width;
            height: $text_box_2_foot_height;
            @include flex_center_around();

            .box_4_foot {
                width: $width_200;
                height: $box_4_foot_height;
                @include flexCenter();
                @include flex_column();

                a {
                    text-decoration: none;

                    span {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_500;
                        line-height: $line_height_22;
                    }
                }
            }


            .box_1_foot {
                width: $width_200;
                height: $box_1_foot_height;
                @include flex_start_start();
                @include flex_column();


                a {
                    text-decoration: none;

                    span {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_500;
                        line-height: $line_height_22;
                    }
                }


                .karta_sayta {
                    color: $color_dark_3f;
                    font-family: Lato;
                    font-size: $font_size_18;
                    font-style: $font_style_normal;
                    font-weight: $font_weight_600;
                    line-height: $line_height_22;
                }


            }


            .box_2_foot {
                width: $width_200;
                height: $height_220;
                @include flex_start_start();
                @include flex_column();

                a {
                    text-decoration: none;

                    span {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_500;
                        line-height: $line_height_22;
                    }

                }

                .kontakti {
                    color: $color_dark_3f;
                    font-family: Lato;
                    font-size: $font_size_16;
                    font-style: $font_style_normal;
                    font-weight: $font_weight_600;
                    line-height: $line_height_22;
                }
            }

            .box_3_foot {
                width: $width_200;
                height: $height_220;
                @include flex_start_start();
                @include flex_column();
                gap: $gap_20;


                a {
                    text-decoration: none;


                    .na_nashu {
                        width: $na_nashu_width;
                    }

                    .prisoedinay {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_600;
                        line-height: $line_height_22;
                    }


                    span {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_500;
                        line-height: $line_height_22;
                    }
                }

                form {

                    input {
                        outline: none;
                        cursor: pointer;
                    }

                    .emailFootSvg {
                        position: relative;
                        top: -32px;
                        left: 210px;
                    }
                }

                .vvedite_email {
                    width: $vvedite_email_width;
                    height: $vvedite_email_height;
                    border-radius: $border_radius_8;
                    border: $border_foot;
                    background: $color_foot;
                    @include flexBetween();
                    padding: $padding_20;
                }
            }
        }

    }

    .foot {
        width: $width_100_tok;
        height: $foot_height;
        border-top: $border_top_foot;
        background: $color_foot;
        @include flexBetween();
        padding: $padding_0_50px_0_50px;


        .icon {
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .text_box_2_foot .box_1_foot span {
            color: $color_dark_3f;
            font-family: Lato;
            font-size: $font_size_18;
            font-style: $font_style_normal;
            font-weight: $font_weight_600;
            line-height: $line_height_22;
        }


        a {
            text-decoration: none;

            span {
                color: $span_color_rgba;
                font-family: Poppins;
                font-size: $font_size_13;
                font-style: $font_style_normal;
                font-weight: $font_weight_400;
                line-height: $line_height_22;
            }
        }
    }

    @include Footer();
}