$bg_color:#7EAA92;
$color_white:#fff;
$color_dark_3f:#3F3835;
$bg_color_rgba: rgba(89, 79, 75, 0.10);
$span_color_rgba:rgba(63, 56, 53, 0.75);
$bg_color_radial:radial-gradient(90.94% 83.16% at 65.68% 53.12%, #D7E5DF 0%, #5FA389 100%);
$bg_color_cat:linear-gradient(313deg, #59A084 4.58%, #DBE7E2 88.45%);
$color_black:#000;
$bg_color_rgba_255:rgba(255, 255, 255, 0.55);
$color_foot:#DBE7E2;