@mixin header() {
    @media screen and (max-width:1920px) {
        .sign_box .btn-group {
            display: none;
        }
    }

    @media screen and (max-width:830px) {
        header {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        header .logo_box {
            width: 200px;
        }

        header .logo_box .bar {
            width: 150px;
        }

        header .btn_header {
            width: 180px;
            height: 50px;
        }


        header .logo_box a {
            width: 200px;
        }
    }

    @media screen and (max-width:600px) {
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: linear-gradient(341deg, #59A084 -60.24%, #F2F2F2 76.43%);
            padding: 20px;
        }


        header .logo_box {
            position: relative;
            right: 120px;
        }

        header .container {
            display: flex;
            width: 10%;
        }

        header .container .hamburger {
            display: block;
        }

        header .sign_box {
            width: 300px;

        }

        header .sign_box .btn_header {
            width: 150px;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        header .nav-menu {
            display: flex;
            position: fixed;
            left: -100%;
            top: 100px;
            gap: 0;
            flex-direction: column;
            background-color: #262626;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            z-index: 10;
        }

        header .nav-menu .nav-item {
            margin: 16px 0;
        }

        header .nav-menu.active {
            left: 6px;
            width: 98%;
            height: 500px;
            background: var(--color-main-color-green, #7EAA92);
        }

        header .logo_box {
            width: 50px;
        }

        header .logo_box .bar {
            display: none;
        }

        header .btn_header {
            width: 243px;
            height: 52px;
            font-size: 13px;
        }


        header .logo_box a {
            width: 50px;
            position: relative;
            left: 100px;
        }

    }

    @media screen and (max-width:560px) {
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        header .sign_box {
            width: 150px;
        }

        header .btn_header {
            display: none;
        }

        .sign_box .btn-group {
            display: flex;
        }

        header .logo_box svg {
            position: relative;
            right: 30px;
        }

        header .logo_box a {
            position: relative;
            left: 90px;
        }
    }

    @media screen and (max-width:490px) {
        header .map_box_header span {
            display: none;
        }

        header .map_box_header svg {
            position: relative;
            right: 50px;
        }

        header .logo_box a {
            width: 50px;
            position: relative;
            left: 100px;
        }

        header .logo_box svg {
            position: relative;
            right: 120px;
        }
    }

    @media screen and (max-width:440px) {
        header {
            padding: 5px;
        }

        header .logo_box a {
            position: relative;
            left: -10px;
        }

        header .logo_box svg {
            position: relative;
            left: -20px;
        }

        header .map_box_header span {
            display: none;
        }

        header .map_box_header svg {
            display: none;
        }

        header .btn_header {
            display: none;
        }

        header .sign_box {
            width: 100px;
        }

        header .sign_box span {
            display: none;
        }

        .sign_box .btn-group {
            display: flex;
        }

        header .logo_box svg {
            position: relative;
            right: 130px;
        }

    }

    @media screen and (max-width:380px) {
        header .nav-menu.active {
            width: 93%;
        }
    }
}


@mixin Down_header() {
    @media screen and (max-width:600px) {
        .down_header {
            display: none;
        }
    }
}

@mixin first_page() {
    @media screen and (max-width:1920px) {
        .first_page {
            position: relative;
            top: 160px;
        }

        .first_page .cat_box .cat_dog {
            display: none;
        }

        .first_page .all .f_page_box1 form .f_box_1 .Vkakom {
            position: relative;
            left: 17px;
        }

        .first_page .all .f_page_box1 form .f_box_1 .kakoy_p {
            position: relative;
            left: 17px;
        }

        .first_page .all .f_page_box1 form .box_3 {
            display: none;
        }

        .first_page .all .f_page_box1 form .box_4 {
            display: none;
        }

        .first_page .all .f_page_box1 form .box_5 {
            display: none;
        }

        .first_page .cat_box .icon_box_f_page {
            position: relative;
            bottom: 250px;
            gap: 10px;
        }

        .first_page .cat_box {
            width: 892px;
            height: 764px;
            position: relative;
        }

        .first_page .cat_box img {
            width: 446px;
            height: 731.23px;
            position: relative;
            left: 350px;
            top: 40px;
        }

        .first_page .cat_box .icon_box_f_page {
            position: absolute;
            left: 750px;
            bottom: 250px;
        }
    }

    @media screen and (max-width:1670px) {
        .first_page .cat_box {
            width: 700px;
        }

        .first_page .cat_box img {
            position: relative;
            left: 250px;
        }

        .first_page .cat_box .icon_box_f_page {
            position: absolute;
            left: 650px;
        }
    }


    @media screen and (max-width:1570px) {
        .first_page .cat_box {
            width: 600px;
            height: 620px;
        }

        .first_page .cat_box img {
            width: 350px;
            height: 570px;
            position: relative;
            left: 200px;
            top: 52px;
        }

        .first_page .cat_box .icon_box_f_page {
            position: absolute;
            left: 520px;
            bottom: 230px;
        }
    }


    @media screen and (max-width:1445px) {
        .first_page .all .nayti_druga {
            width: 500px;
        }

        .first_page .all .nayti_druga span {
            font-size: 60px;
        }

        .first_page .all .f_page_box1 {
            width: 700px;
            height: 230px;
            flex-wrap: wrap;
        }

        .first_page .cat_box .icon_box_f_page {
            position: relative;
            left: 500px;
            bottom: 400px;
        }

        .first_page .cat_box {
            width: 650px;
        }

        .first_page .cat_box img {
            width: 350px;
            height: 570px;
        }

    }

    @media screen and (max-width:1330px) {
        .first_page .cat_box img {
            width: 300px;
            height: 500px;
            position: relative;
            top: 122px;
        }

        .first_page .cat_box .icon_box_f_page {
            position: relative;
            left: 80px;
            bottom: 300px;
        }
    }

    @media screen and (max-width:1240px) {
        .first_page .cat_box img {
            width: 270px;
            height: 450px;
            position: relative;
            left: 130px;
            top: 150px;
        }
    }

    @media screen and (max-width:1170px) {
        .first_page .cat_box img {
            width: 250px;
            height: 430px;
            position: relative;
            left: 120px;
        }
    }

    @media screen and (max-width:1130px) {
        .first_page .all .nayti_druga {
            width: 400px;
            height: 130px;
            line-height: 50%;
        }

        .first_page .all .nayti_druga span {
            font-size: 45px;
        }

        .first_page .all .f_page_box1 {
            width: 400px;
            height: 300px;
            flex-wrap: wrap;
            position: relative;
            left: 0px;
        }

        .first_page .all .f_page_box1 form {
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width:1020px) {
        .first_page .all .animal_box {
            display: none;
        }

        .first_page .all .f_page_box1 {
            width: 330px;
            height: 320px;
            flex-wrap: wrap;
            position: relative;
            left: 0;
        }

        .first_page .cat_box {
            width: 500px;
        }

        .first_page .cat_box img {
            position: relative;
            left: 100px;
        }

        .first_page .cat_box .icon_box_f_page {
            position: relative;
            bottom: 300px;
        }
    }

    @media screen and (max-width:950px) {
        .first_page .cat_box {
            width: 380px;
            height: 600px;
        }

        .first_page .cat_box img {
            display: none;
        }

        .first_page .cat_box {
            background: none;
        }

        .first_page .cat_box .cat_dog {
            display: flex;
            width: 150px;
            height: 120px;
        }

        .first_page .cat_box .icon_box_f_page {
            position: relative;
            left: 300px;
            top: -50px;
        }

    }


    @media screen and (max-width:820px) {
        .first_page {
            position: relative;
            top: 100px;
        }

        .first_page .cat_box {
            width: 250px;
            height: 600px;
            border-radius: 0;
            background: none;
            position: relative;
            right: 50px;
        }

        .first_page .cat_box .cat_dog {
            position: relative;
            left: 50px;
        }

        .first_page .cat_box .icon_box_f_page {
            position: relative;
            left: 200px;
            top: -60px;
        }

        .first_page {
            background: linear-gradient(341deg, #59A084 -60.24%, #F2F2F2 76.43%);
        }

        .first_page .all .nayti_druga {
            position: relative;
            top: 40px;
        }
    }

    @media screen and (max-width:650px) {
        .first_page .cat_box {
            width: 180px;
            height: 200px;
            position: relative;
            top: 50px;
            left: -50px;
        }

        .first_page .cat_box .icon_box_f_page {
            display: none;
        }
    }

    @media screen and (max-width:600px) {
        .first_page .all .nayti_druga {
            width: 400px;
            height: 120px;
            line-height: 30%;
            position: relative;
            top: 70px;
            left: 50px;
        }

        .first_page .all .nayti_druga span {
            font-size: 40px;
        }

        .first_page .cat_box {
            width: 140px;
            height: 150px;
            position: relative;
            top: 0px;
            left: -120px;
        }

        .first_page .cat_box .cat_dog {
            position: relative;
            top: 20px;
            left: 0px;
        }

        .first_page .all .f_page_box1 form {
            width: 350px;
            position: relative;
            left: 60px;
            top: -50px;
            gap: 50px;
        }

        .first_page .all .f_page_box1 form .f_box_1 {
            display: none;
        }

        .first_page .all .f_page_box1 form .box_2 {
            display: none;
        }

        .first_page .nayti_pitomca {
            width: 347px;
            padding: 18.531px 58.816px;
            position: relative;
            left: 50px;
        }


        .first_page .nayti_pitomca:hover {
            width: 280px;
            height: 65px;
            transition: all 1s ease;
        }

        .first_page .all .f_page_box1 form .box_3 {
            display: flex;
        }

        .first_page .all .f_page_box1 form .box_4 {
            display: flex;
        }

        .first_page .all .f_page_box1 form .box_5 {
            display: flex;
        }

    }


    @media screen and (max-width:550px) {
        .first_page .all .f_page_box1 {
            position: relative;
            left: 0px;
        }

        .first_page .all .nayti_druga {
            width: 300px;
            position: relative;
            left: 50px;
            line-height: 20%;
        }

        .first_page .all .nayti_druga span {
            font-size: 30px;
        }

        .first_page .nayti_pitomca {
            position: relative;
            left: 50px;
        }

        .first_page .cat_box .cat_dog {
            position: relative;
            left: 0px;
            top: 10px;
        }
    }

    @media screen and (max-width:440px) {
        .first_page .all .f_page_box1 {
            position: relative;
            left: -45px;
        }

        .first_page .all .nayti_druga {
            position: relative;
            left: 0px;
        }

        .first_page .nayti_pitomca {
            position: relative;
            left: 10px;
        }

        .first_page .cat_box .cat_dog {
            position: relative;
            left: -60px;
        }
    }

    @media screen and (max-width:385px) {
        .first_page .nayti_pitomca {
            width: 320px;
            position: relative;
            left: 0px;
        }

        .first_page .all .f_page_box1 {
            width: 320px;
            position: relative;
            left: -50px;
        }

        .first_page .f_page_box1 .box_5 .viberite_gorod_box_5 {
            width: 320px;
        }

        .first_page .f_page_box1 .box_4 .viberite_porodu {
            width: 320px;
        }

        .first_page .f_page_box1 .box_3 .viberite_tip_pitomca {
            width: 320px;
        }
    }

    @media screen and (max-width:385px) {
        .first_page .cat_box .cat_dog {
            position: relative;
            left: -30px;
        }
    }

    @media screen and (max-width:370px) {
        .first_page .nayti_pitomca {
            position: relative;
            left: -10px;
        }

        .first_page .all .f_page_box1 {
            position: relative;
            left: -60px;
        }
    }
}


// 2nd page verev



@mixin sec_page_verev() {
    @media screen and (max-width:1920px) {
        .sec_page_verev {
            display: none;
        }
    }

    @media screen and (max-width:740px) {

        .sec_page_verev {
            width: 98%;
        }

        .sec_page_verev {
            display: flex;
        }
    }
}


// 2 nd page ----------------------------------------------

@mixin second_page() {

    @media screen and (max-width:1920px) {

        .second_page .slaq_mek_media {
            display: none;
        }

        .second_page .slaq_erku_media {
            display: none;
        }

        .second_page .s_page_all {
            width: 75%;
        }
    }

    @media screen and (max-width:1550px) {
        .second_page .sec_page_box span {
            font-size: 22px;
        }
    }

    @media screen and (max-width:1395px) {
        .second_page .sec_page_box {
            width: 250px;
        }

        .second_page .s_page_all {
            width: 1000px;
        }

        .second_page .sec_page_box svg {
            width: 170px;
            height: 170px;
        }

        .second_page .slaq_mek {
            width: 250px;
            position: relative;
            right: 180px;
        }

        .second_page .slaq_erku {
            width: 250px;
            position: relative;
            left: 160px;
            bottom: 50px;
        }

        .second_page .sec_page_box .s_box_1 {
            width: 170px;
            height: 200px;
        }
    }

    @media screen and (max-width:1070px) {
        .second_page {
            height: 550px;
        }

        .second_page .sec_page_box {
            width: 240px;
            height: 320px;
        }

        .second_page .sec_page_box .s_box_1 {
            width: 155px;
            height: 170px;
        }

        .second_page .sec_page_box .s_box_1 svg {
            width: 150px;
        }

        .second_page .slaq_mek {
            width: 200px;
            height: 50px;
            position: relative;
            top: 10px;
            right: 150px;
        }

        .second_page .slaq_erku {
            width: 200px;
            height: 50px;
            position: relative;
            bottom: 20px;
            right: 10px;
        }

        .second_page .s_page_all {
            width: 810px;
            height: 400px;
        }
    }

    @media screen and (max-width:920px) {
        .second_page .sec_page_box {
            width: 200px;
            height: 280px;
        }

        .second_page .sec_page_box .s_box_1 {
            width: 140px;
            height: 140px;
        }

        .second_page .sec_page_box .s_box_1 svg {
            width: 135px;
            height: 135px;
        }

        .second_page .slaq_mek {
            width: 200px;
            position: relative;
            right: 150px;
            top: 20px;
        }

        .second_page .slaq_erku {
            width: 200px;
            position: relative;
            left: 140px;
            bottom: 20px;
        }

        .second_page .s_page_all {
            width: 680px;
            height: 350px;
        }
    }


    @media screen and (max-width:740px) {
        .second_page {
            height: 1100px;
            background: var(--color-page, #F2F2F2);
        }

        .second_page .sec_page_box {
            border: none;
            box-shadow: none;
        }

        .second_page .text_box {
            display: none;
        }

        .second_page .s_page_all {
            width: 300px;
            height: 880px;
            flex-direction: column;
            gap: 20px;
        }

        .second_page .slaq_mek {
            display: none;
        }

        .second_page .slaq_erku {
            display: none;
        }

        .second_page .slaq_mek_media {
            display: flex;
            position: relative;
            right: 140px;
            top: 300px;
        }

        .second_page .slaq_erku_media {
            display: flex;
            position: relative;
            left: 120px;
            bottom: 350px;
        }

    }
}


// 3rd ej //////////////////////////////////////////////

@mixin thred_page() {

    @media screen and (max-width:1920px) {
        .thred_page .thred_page_all {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 90%;
        }

        .thred_page .poslednie {
            position: relative;
            left: -640px;
            top: -20px;
        }
    }

    @media screen and (max-width:1650px) {
        .thred_page .thred_page_all {
            width: 1500px;
            position: relative;
            left: 0px;
        }

        .thred_page .poslednie {
            position: relative;
            left: -580px;
            top: -20px;
        }
    }

    @media screen and (max-width:1520px) {
        .thred_page .thred_page_all {
            width: 98%;
        }

        .thred_page .poslednie {
            position: relative;
            left: 0px;
            top: -20px;
        }
    }


    @media screen and (max-width:600px) {
        .thred_page .poslednie {
            position: relative;
            left: 0px;
            top: -20px;
        }
    }

    @media screen and (max-width:500px) {
        .thred_page .thred_page_all {
            width: 400px;
        }
    }
}


// 4rd page ////////////////////////////


@mixin fourth_page() {

    @media screen and (max-width:1920px) {
        .fourth_page .fourth_page_text_box .fourth_page_img_two {
            display: none;
        }
    }

    @media screen and (max-width:1540px) {
        .fourth_page {
            height: 650px;
        }

        .fourth_page .fourth_page_box {
            width: 600px;
            height: 600px;
        }

        .fourth_page .fourth_page_box img {
            width: 400px;
            height: 600px;
        }
    }

    @media screen and (max-width:1400px) {
        .fourth_page .fourth_page_box {
            width: 600px;
            height: 600px;
        }

        .fourth_page .fourth_page_box img {
            width: 400px;
            height: 600px;
        }

        .fourth_page .fourth_page_text_box {
            width: 600px;
            height: 650px;
        }

    }

    @media screen and (max-width:1300px) {
        .fourth_page .fourth_page_box {
            width: 500px;
            height: 550px;
        }

        .fourth_page .fourth_page_box img {
            width: 350px;
            height: 549.5px;
        }
    }

    @media screen and (max-width:1180px) {
        .fourth_page {
            height: 550px;
        }

        .fourth_page .fourth_page_box {
            width: 400px;
            height: 450px;
        }

        .fourth_page .fourth_page_box img {
            width: 280px;
            height: 448px;
        }

        .fourth_page .fourth_page_text_box {
            height: 480px;
        }

        .fourth_page .fourth_page_text_box .pomosh {
            font-size: 25px;
        }

        .fourth_page .fourth_page_text_box .odno_samix {
            font-size: 20px;
        }

        .fourth_page .fourth_page_text_box .mnogie_na_etix {
            font-size: 16px;
        }
    }

    @media screen and (max-width:1080px) {
        .fourth_page {
            height: 450px;
        }

        .fourth_page .fourth_page_box {
            width: 300px;
            height: 300px;
        }

        .fourth_page .fourth_page_box img {
            width: 200px;
            height: 300px;
        }

        .fourth_page .fourth_page_text_box {
            width: 450px;
            height: 400px;
        }

        .fourth_page .fourth_page_text_box .pomosh {
            font-size: 20px;
        }

        .fourth_page .fourth_page_text_box .odno_samix {
            font-size: 16px;
        }

        .fourth_page .fourth_page_text_box .mnogie_na_etix {
            font-size: 12px;
        }
    }

    @media screen and (max-width:820px) {
        .fourth_page {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 650px;
        }

        .fourth_page .fourth_page_box {
            display: none;
        }
    }

    @media screen and (max-width:600px) {
        .fourth_page_text_box .pereyti {
            width: 250px;
            position: relative;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            overflow: hidden;
            transition: all 1s ease;
        }

        .pereyti:hover::before {
            content: "Найти питомца";
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: #375B47;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            opacity: 0;
            transition: all 1s ease-in;
        }

        .fourth_page_text_box .pereyti:hover {
            transition: all 1s ease-in;
            width: 250px;
        }

        .fourth_page_text_box .pereyti:hover::before {
            opacity: 1;
            transition: all 1s ease;
        }
    }

    @media screen and (max-width:500px) {
        .fourth_page .fourth_page_text_box {
            height: 600px;
        }

        .fourth_page .fourth_page_text_box .fourth_page_img_two {
            width: 432px;
            height: 200px;
            display: flex;
        }

        .pereyti {
            position: relative;
            left: 70px;
        }
    }

    @media screen and (max-width:460px) {
        .fourth_page .fourth_page_text_box {
            width: 350px;
            height: 650px;
        }

        .fourth_page .fourth_page_text_box .fourth_page_img_two {
            width: 350px;
        }

        .fourth_page .fourth_page_text_box .odno_samix {
            font-size: 14px;
        }

        .fourth_page .fourth_page_text_box .mnogie_na_etix {
            font-size: 10px;
        }

        .pereyti {
            position: relative;
            left: 35px;
            top: 30px;
        }
    }
}


// 5th page ////////////////////////////////////

@mixin Fivth_page() {

    @media screen and (max-width:1920px) {
        .fivth_page .fivth_page_all {
            width: 98%;
        }

        .fivth_page .populyarnie {
            position: relative;
            left: -750px;
        }
    }

    @media screen and (max-width:1725px) {
        .fivth_page .fivth_page_all .fivth_page_boxer .fivth_page_box {
            width: 350px;
        }

        .fivth_page .fivth_page_all .fivth_page_boxer .fivth_page_box p {
            width: 350px;
        }

        .fivth_page .fivth_page_all .fivth_page_boxer .fivth_page_box img {
            width: 350px;
        }

        .fivth_page .fivth_page_all .fivth_page_boxer {
            width: 350px;
        }

        .fivth_page .fivth_page_all .fivth_page_boxer .fivth_page_box .fivth_box {
            width: 350px;
        }

        .fivth_page .populyarnie {
            position: relative;
            left: -590px;
        }
    }

    @media screen and (max-width:1450px) {
        .fivth_page .fivth_page_all .fivth_page_boxer .fivth_page_box {
            width: 308px;
        }

        .fivth_page .fivth_page_all .fivth_page_boxer .fivth_page_box p {
            width: 300px;
        }

        .fivth_page .fivth_page_all .fivth_page_boxer .fivth_page_box img {
            width: 308px;
        }

        .fivth_page .fivth_page_all .fivth_page_boxer {
            width: 308px;
        }

        .fivth_page .fivth_page_all .fivth_page_boxer .fivth_page_box .fivth_box {
            width: 308px;
        }

        .fivth_page .populyarnie {
            position: relative;
            left: -500px;
        }
    }

    @media screen and (max-width:1280px) {
        .fivth_page {
            height: 1100px;
        }

        .fivth_page .fivth_page_all {
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width:1258px) {
        .fivth_page {
            height: 1100px;
        }

        .fivth_page .populyarnie {
            position: relative;
            left: -300px;
        }
    }

    @media screen and (max-width:955px) {
        .fivth_page {
            height: 900px;
        }

        .fivth_page .populyarnie {
            position: relative;
            left: -150px;
        }
    }

    @media screen and (max-width:645px) {
        .fivth_page {
            height: 1700px;
        }

        .fivth_page .populyarnie {
            position: relative;
            left: 0px;
        }
    }
}



@mixin Footer() {
    @media screen and (max-width:1920px) {
        .box_3_foot .podpishis {
            display: none;
        }

        .footer_all .text_box_2_foot .box_4_foot {
            display: none;
        }

        .icona_box {
            display: none;
        }
    }


    @media screen and (max-width:1220px) {
        footer .text_box_2_foot {
            width: 800px;
            transition: 0.5s ease;
        }
    }


    @media screen and (max-width:1125px) {
        .footer_all .text_box_2_foot .box_3_foot form .vvedite_email {
            width: 210px;
            font-size: 14px;
        }

        .footer_all .text_box_2_foot .box_3_foot form .emailFootSvg {
            position: relative;
            top: -32px;
            left: 180px;
        }

        footer .text_box_1_foot .logo_box_foot {
            position: relative;
            left: 20px;
            transition: 0.5s ease;
        }
    }

    @media screen and (max-width:1030px) {
        .footer_all .logo_box_foot {
            display: none;
        }

        footer .text_box_2_foot {
            width: 1000px;
        }

        .footer_all {
            flex-wrap: wrap;
        }

        .footer_all img {
            display: none;
        }

        .footer_all .text_box_2_foot .box_3_foot form .vvedite_email {
            width: 230px;
        }

        footer .text_box_1_foot .logo_box_foot {
            position: relative;
            left: 400px;
        }
    }


    @media screen and (max-width:900px) {
        footer .text_box_1_foot .logo_box_foot {
            position: relative;
            left: 350px;
        }
    }

    @media screen and (max-width:740px) {
        footer .text_box_2_foot .box_3_foot .na_nashu {
            width: 200px;
        }

        footer .text_box_1_foot .logo_box_foot {
            position: relative;
            left: 220px;
        }

        .footer_all .text_box_2_foot .box_3_foot .vvedite_email {
            width: 210px;
        }
    }

    @media screen and (max-width:730px) {
        footer {
            height: 400px;
        }

        footer .foot {
            display: none;
        }

        .footer_all .text_box_2_foot .box_1_foot {
            display: none;
        }

        .footer_all .text_box_2_foot .box_2_foot {
            display: none;
        }

        .footer_all .text_box_2_foot .box_4_foot {
            display: flex;
        }

        .box_3_foot .na_nashu {
            display: none;
        }

        .footer_all .text_box_2_foot {
            height: 400px;
            flex-direction: column;
        }

        .footer_all .text_box_2_foot .box_3_foot {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .footer_all .text_box_2_foot .box_3_foot .vvedite_email {
            width: 300px;
            height: 60px;
            padding: 20px;
        }


        .footer_all .text_box_2_foot .box_3_foot form .emailFootSvg {
            position: relative;
            top: -40px;
            left: 190px;
        }

        .text_box_2_foot .box_3_foot .podpishis {
            width: 260px;
            display: flex;
            text-align: center;
        }

        .icona_box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }

    @media screen and (max-width:560px) {
        footer .text_box_1_foot .logo_box_foot {
            position: relative;
            left: 140px;
        }
    }


    @media screen and (max-width:430px) {
        footer .text_box_1_foot .logo_box_foot {
            position: relative;
            left: 80px;
        }
    }

    @media screen and (max-width:335px) {
        footer .text_box_1_foot .logo_box_foot {
            position: relative;
            left: 20px;
        }
    }
}



@mixin LoginForm() {
    @media screen and (max-width:1550px) {
        .login_form {
            width: 450px;
            height: 600px;
            padding: 0;
            gap: 10px;
            position: relative;
            top: 50px;
        }

        .login_form .registracia {
            position: relative;
            left: 30px;
        }

        .login_form .adres_elekronoy_pochti {
            position: relative;
            left: 30px;
        }

        .login_form .adres_elekronoy_pochti .mail {
            width: 370px;
        }

        .login_form .parol {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            position: relative;
            left: 30px;
        }

        .login_form .parol .password {
            width: 370px;
            padding: 10px;
        }

        .login_form .zaregistirovat {
            width: 370px;
            position: relative;
            left: 30px;
        }

        .login_form .border_ili {
            position: relative;
            left: 0px;
        }

        .login_form .border_ili .border_left {
            width: 120px;
        }

        .login_form .border_ili .border_right {
            width: 120px;
        }

        .login_form .google {
            width: 370px;
            position: relative;
            left: 30px;
        }

        .login_form .apple {
            width: 370px;
            position: relative;
            left: 30px;
        }

        .login_form .uje_est {
            position: relative;
            left: 30px;
        }
    }
    
    @media screen and (max-width:450px) {
        .login_form {
            width: 350px;
            height: 600px;
            padding: 0;
            gap: 10px;
            position: relative;
            top: 50px;
        }

        .login_form .registracia {
            position: relative;
            left: 15px;
        }

        .login_form .adres_elekronoy_pochti {
            position: relative;
            left: 15px;
        }

        .login_form .adres_elekronoy_pochti .mail {
            width: 300px;
        }

        .login_form .parol {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            position: relative;
            left: 15px;
        }

        .login_form .parol .password {
            width: 300px;
            padding: 10px;
        }

        .login_form .zaregistirovat {
            width: 300px;
            position: relative;
            left: 15px;
        }

        .login_form .border_ili {
            position: relative;
            left: 0px;
        }

        .login_form .border_ili .border_left {
            width: 120px;
        }

        .login_form .border_ili .border_right {
            width: 120px;
        }

        .login_form .google {
            width: 300px;
            position: relative;
            left: 15px;
        }

        .login_form .apple {
            width: 300px;
            position: relative;
            left: 15px;
        }

        .login_form .uje_est {
            position: relative;
            left: 15px;
        }

        .login_form .uje_est span{
            font-size: 14px;
        }
    }
}