$header_Width: 100%;
$header_height: 99px;
$border_bottom: 2px solid rgba(63, 56, 53, 0.30);
$map_box_header_width: 101px;
$map_box_header_height: 65px;
$margin_10: 10px;
$logo_box_width: 270px;
$logo_box_height: 44px;
$btn_header_width: 243px;
$btn_header_height: 52px;
$border_radius_8: 8px;
$font_size_16: 16px;
$font_style_normal: normal;
$font_weight_500: 500;
$line_height_22: 22px;
$sign_box_width: 330px;
$sign_box_height: 65px;
$gap_10: 10px;
$border_none: none;
$cursor: pointer;
$down_header_width: 1500px;
$down_header_height: 77px;
$menu_width: 562px;
$menu_height: 22px;
$text_decoration_none: none;




// first_page
$first_page_width: 100%;
$first_page_height: 800px;
$padding_20: 20px;
$gap_50: 50px;
$nayti_pitomca_width: 310px;
$nayti_pitomca_height: 65px;
$box_shadow: 0px 1px 2px 0px rgba(8, 35, 48, 0.20);
$nayti_druga_width: 720px;
$nayti_druga_height: 200px;
$font_size_86: 86px;
$font_weight_600: 600;
$line_height_108962: 108.962%;
$font_weight_300: 300;
$animal_box_width: 250px;
$animal_box_height: 118px;
$f_page_box1_width: 820px;
$f_page_box1_height: 100px;
$f_box_1_width: 340px;
$box1_width: 306px;
$box1_height: 48px;
$box_shadow_0_4: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$padding_10: 10px;
$margin_15: 15px;
$font_style_italic: italic;
$font_weight_400: 400;
$line_height_16_8: 16.8px;
$box_3_width: 340px;
$font_size_14: 14px;
$line_height_14_439: 14.439px;
$font_size_12: 12px;
$viberite_tip_pitomca_width: 343px;
$viberite_tip_pitomca_height: 45px;
$border_radius_6_876: 6.876px;
$opacity_0_65: 0.65;
$box_shadow_0_3_4379: 0px 3.43791px 3.43791px 0px rgba(0, 0, 0, 0.25);
$box_4_width: 340px;
$box_4_height: 45px;
$viberite_porodu_width: 343px;
$viberite_porodu_height: 45px;
$viberite_gorod_box_5_width: 343px;
$viberite_gorod_box_5_height: 45px;
$cat_box_width: 450px;
$cat_box_height: 700px;
$border_radius_cat: 408px 0px 0px 408px;
$cat_box_img_width: 300px;
$cat_box_img_height: 450px;
$icon_box_f_page_width: 50px;
$dropdown_toggle_width: 55px;
$dropdown_toggle_height: 55px;
$dropdown_menu_width: 120px;
$dropdown_menu_height: 200px;
$font_size_18: 18px;
$line_height_197: 197.5%;
$letter_spacing_036: -0.36px;


// 2nd 

$sec_page_verev_width: 740px;
$sec_page_verev_heigth: 100px;
$width_100_tok: 100%;
$second_page_height: 800px;
$s_page_all_width: 1150px;
$s_page_all_height: 500px;
$text_box_width: 260px;
$text_box_height: 70px;
$font_size_32: 32px;
$line_height_69: 69px;
$letter_spacing_025: 0.25px;
$sec_page_box_width: 290px;
$sec_page_box_height: 380px;
$border_rgba_63: 1px solid rgba(63, 56, 53, 0.15);
$box_shadow_0_2_4: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
$s_box_1_width: 201px;
$s_box_1_heigth: 201px;
$text_align_center: center;
$flex_wrap: wrap;


// 3rd
$thred_page_all_width: 1500px;
$thred_page_box_width: 350px;
$thred_page_box_height: 477px;
$width_350: 350px;
$gap_15: 15px;
$padding_5: 5px;
$font_size_20: 20px;
$font_weight_700: 700;
$line_height_156: 156%;
$letter_spacing_028: -0.28px;
$width_320: 320px;
$fourth_page_box_width: 700px;
$fourth_page_box_height: 700px;
$border_radius_408: 0px 408px 408px 0px;
$font_size_26: 26px;


// 4th

$fourth_page_height: 750px;
$fourth_page_height_img: 700px;
$fourth_page_width_img: 550px;
$line_height_132: 132.5%;
$letter_spacing_052: 0.52px;
$pereyti_width: 282px;
$pereyti_height: 50px;
$border_1_5: 1.5px solid var(--color-main-color-green, #7EAA92);
$fourth_page_box_img_width: 380px;
$fourth_page_box_img_height: 700px;
$letter_spacing_0_4: 0.4px;
$backtop_filter: blur(12.5px);
$padverjdyonniy_width: 188px;
$padverjdyonniy_height: 29px;
$fivth_page_height: 700px;
$width_98_tokos: 98%;
$height_auto: auto;
$fivth_page_box_width: 408px;
$fivth_page_box_height: 380px;
$width_408: 408px;
$height_48: 48px;
$chitat_width: 113px;
$chitat_height: 45px;



// footer
$footer_height: 270px;
$footer_all_width: 98%;
$text_box_2_foot_width: 933px;
$text_box_2_foot_height: 220px;
$width_200: 200px;
$box_4_foot_height: 80px;
$box_1_foot_height: 220px;
$height_220: 220px;
$gap_20: 20px;
$na_nashu_width: 230px;
$border_foot: 1px solid var(--color-main-color-text, #3F3835);
$vvedite_email_width: 250px;
$vvedite_email_height: 40px;
$foot_height: 41px;
$border_top_foot: 1px solid var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
$padding_0_50px_0_50px: 0 50px 0 50px;
$font_size_13: 13px;