@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main header {
  width: 100%;
  height: 99px;
  border-bottom: 2px solid rgba(63, 56, 53, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
main header .container {
  display: none;
  margin: 0 auto;
}
main header .container .navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main header .container .navbar a {
  color: white;
  text-decoration: none;
}
main header .container .navbar .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
main header .container .navbar .nav-menu li {
  list-style: none;
}
main header .container .navbar .nav-menu a {
  color: black;
  text-decoration: none;
}
main header .container .hamburger {
  display: none;
  cursor: pointer;
}
main header .container .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: black;
  border-radius: 20px;
}
main header .map_box_header {
  width: 101px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main header .map_box_header svg {
  margin: 10px;
}
main header .logo_box a {
  width: 270px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main header .logo_box a .bar {
  margin: 10px;
}
main header .btn_header {
  width: 243px;
  height: 52px;
  border-radius: 8px;
  background: #7EAA92;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}
main header .sign_box {
  width: 400px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main header .sign_box .karmir {
  width: 16.387px;
  height: 16.387px;
  background: red;
  border-radius: 50%;
  position: relative;
  right: 23px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main header .sign_box .karmir span {
  color: #fff;
}
main header .sign_box .dropdown-toggle {
  width: 55px;
  height: 55px;
  background: none;
  border: none;
}
main header .btn-group .dropdown-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
main header .btn-group .dropdown-menu {
  width: 200px;
  height: 120px;
}
main .down_header {
  width: 1500px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .down_header .menu {
  width: 562px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .down_header .menu a {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}
main .down_header .menu .o_nas {
  color: #7EAA92;
}
@media screen and (max-width: 1920px) {
  main .sign_box .btn-group {
    display: none;
  }
  main .map_box_header .media {
    display: none;
  }
}
@media screen and (max-width: 1520px) {
  main header {
    width: 98%;
  }
  main .down_header {
    width: 98%;
  }
}
@media screen and (max-width: 840px) {
  main header .btn_header {
    width: 200px;
  }
}
@media screen and (max-width: 830px) {
  main header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  main header .logo_box {
    width: 200px;
  }
  main header .logo_box .bar {
    width: 150px;
  }
  main header .btn_header {
    width: 135px;
    height: 50px;
    font-size: 11px;
  }
}
@media screen and (max-width: 685px) {
  main header .logo_box .bar {
    display: none;
  }
  main header .logo_box a {
    width: 70px;
  }
}
@media screen and (max-width: 600px) {
  main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  main header .sign_box .karmir {
    display: none;
  }
  main header .logo_box {
    position: relative;
    right: 70px;
  }
  main header .sign_box .user {
    position: relative;
    left: 50px;
  }
  main .down_header {
    display: none;
  }
  main header .logo_box {
    width: 50px;
  }
  main header .logo_box a {
    display: none;
  }
  main header .container {
    display: flex;
    width: 10%;
  }
  main header .map_box_header {
    width: 50px;
  }
  main .map_box_header svg {
    display: none;
  }
  main .map_box_header span {
    display: none;
  }
  main .map_box_header .media {
    display: flex;
  }
  main header .container .hamburger {
    display: block;
    position: relative;
    left: -50px;
  }
  main header .sign_box {
    width: 80px;
  }
  main header .sign_box span {
    display: none;
  }
  main header .sign_box .btn_header {
    display: none;
  }
  main .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  main .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  main .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  main header .nav-menu {
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
  }
  main header .nav-menu .nav-item {
    margin: 16px 0;
  }
  main header .nav-menu.active {
    left: 6px;
    width: 98%;
    height: 500px;
    background: var(--color-main-color-green, #7EAA92);
  }
  main header .logo_box {
    width: 50px;
  }
  main header .logo_box .bar {
    display: none;
  }
  main header .btn_header {
    width: 243px;
    height: 52px;
    font-size: 13px;
  }
}
@media screen and (max-width: 560px) {
  main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  }
  main header .btn_header {
    display: none;
  }
  main header .sign_box {
    width: 100px;
  }
  main .sign_box .btn-group {
    display: flex;
  }
  main header .logo_box svg {
    position: relative;
    right: 0px;
  }
}
@media screen and (max-width: 490px) {
  main header .map_box_header span {
    display: none;
  }
  main header .map_box_header svg {
    position: relative;
    left: 0px;
  }
  main header .logo_box svg {
    position: relative;
    left: -90px;
  }
}
@media screen and (max-width: 440px) {
  main header {
    padding: 5px;
  }
  main header .map_box_header span {
    display: none;
  }
  main header .map_box_header svg {
    display: none;
  }
  main header .btn_header {
    display: none;
  }
  main header .sign_box span {
    display: none;
  }
  main .sign_box .btn-group {
    display: flex;
  }
}
main .container {
  width: 100%;
  min-height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container .rightBox {
  width: 901px;
  height: 764px;
  background: linear-gradient(313deg, #59A084 4.58%, #DBE7E2 88.45%);
  border-radius: 408px 0px 0px 408px;
}
main .container .rightBox .DogImg {
  width: 827px;
  height: 755px;
  position: relative;
  top: 100px;
}
main .container .leftBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .container h1 {
  font-size: 86px;
  margin-bottom: 20px;
  color: #333;
  font-family: Lato;
}
main .container p {
  font-size: 32px;
  font-weight: 500;
  line-height: 69px;
  letter-spacing: 0.25px;
  text-align: center;
  font-family: Lato;
  color: #666;
}
main .container .peryetiObyavleniyam {
  width: 364px;
  height: 65px;
  background: #7EAA92;
  border-radius: 8px;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 18, 4px;
  text-align: center;
  font-family: Lato;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
@media screen and (max-width: 1920px) {
  main .container {
    height: 1100px;
  }
}
@media screen and (max-width: 1560px) {
  main .container {
    height: 900px;
  }
  main .container .rightBox {
    width: 800px;
  }
  main .container .rightBox .DogImg {
    width: 600px;
    height: 600px;
    position: relative;
    top: 240px;
  }
}
@media screen and (max-width: 1220px) {
  main .container .rightBox .DogImg {
    width: 650px;
    height: 600px;
    position: relative;
    top: 200px;
  }
  main .container p {
    font-size: 26px;
  }
  main .container h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1040px) {
  main .container {
    height: 700px;
  }
  main .container .rightBox .DogImg {
    width: 500px;
    height: 450px;
    position: relative;
    top: 350px;
  }
  main .container .rightBox {
    width: 700px;
  }
}
@media screen and (max-width: 890px) {
  main .container .rightBox {
    width: 500px;
    height: 600px;
  }
  main .container .rightBox .DogImg {
    width: 400px;
    height: 350px;
    position: relative;
    top: 280px;
  }
  main .container p {
    font-size: 18px;
  }
  main .container .peryetiObyavleniyam {
    width: 250px;
  }
}
@media screen and (max-width: 670px) {
  main .container .rightBox {
    width: 400px;
    height: 500px;
  }
  main .container .rightBox .DogImg {
    width: 350px;
    height: 300px;
    position: relative;
    top: 220px;
  }
  main .container p {
    font-size: 16px;
    line-height: 30px;
  }
  main .container .peryetiObyavleniyam {
    width: 200px;
    font-size: 16px;
  }
}
@media screen and (max-width: 570px) {
  main .container {
    height: 500px;
  }
  main .container .rightBox {
    width: 300px;
    height: 400px;
  }
  main .container .rightBox .DogImg {
    width: 250px;
    height: 250px;
    position: relative;
    top: 150px;
  }
  main .container p {
    font-size: 16px;
    line-height: 30px;
  }
  main .container .peryetiObyavleniyam {
    width: 200px;
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  main .container .rightBox {
    width: 250px;
    height: 300px;
  }
  main .container .rightBox .DogImg {
    width: 200px;
    height: 200px;
    position: relative;
    top: 120px;
  }
  main .container p {
    font-size: 12px;
    line-height: 30px;
  }
  main .container h1 {
    font-size: 36px;
  }
  main .container .peryetiObyavleniyam {
    width: 150px;
    height: 40px;
    font-size: 10px;
  }
}
main footer {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border-top: 1px solid var(--Color-Main-color-text, #3F3835);
}
main footer .footer_all {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main footer .text_box_1_foot {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
main footer .text_box_1_foot img {
  cursor: pointer;
}
main footer .text_box_1_foot .logo_box_foot {
  width: 268px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 50px;
}
main footer .text_box_2_foot {
  width: 933px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main footer .text_box_2_foot .box_4_foot {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main footer .text_box_2_foot .box_4_foot a {
  text-decoration: none;
}
main footer .text_box_2_foot .box_4_foot a span {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
main footer .text_box_2_foot .box_1_foot {
  width: 200px;
  height: 220px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
main footer .text_box_2_foot .box_1_foot a {
  text-decoration: none;
}
main footer .text_box_2_foot .box_1_foot a span {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
main footer .text_box_2_foot .box_1_foot .karta_sayta {
  color: #3F3835;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
main footer .text_box_2_foot .box_2_foot {
  width: 200px;
  height: 220px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
main footer .text_box_2_foot .box_2_foot a {
  text-decoration: none;
}
main footer .text_box_2_foot .box_2_foot a span {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
main footer .text_box_2_foot .box_2_foot .kontakti {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
main footer .text_box_2_foot .box_3_foot {
  width: 200px;
  height: 220px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}
main footer .text_box_2_foot .box_3_foot a {
  text-decoration: none;
}
main footer .text_box_2_foot .box_3_foot a .na_nashu {
  width: 230px;
}
main footer .text_box_2_foot .box_3_foot a .prisoedinay {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
main footer .text_box_2_foot .box_3_foot a span {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
main footer .text_box_2_foot .box_3_foot form input {
  outline: none;
  cursor: pointer;
}
main footer .text_box_2_foot .box_3_foot form .emailFootSvg {
  position: relative;
  top: -32px;
  left: 210px;
}
main footer .text_box_2_foot .box_3_foot .vvedite_email {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-main-color-text, #3F3835);
  background: #DBE7E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
main .foot {
  width: 100%;
  height: 41px;
  border-top: 1px solid var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
  background: #DBE7E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}
main .foot .icon {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .foot .text_box_2_foot .box_1_foot span {
  color: #3F3835;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
main .foot a {
  text-decoration: none;
}
main .foot a span {
  color: rgba(63, 56, 53, 0.75);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
@media screen and (max-width: 1920px) {
  main .box_3_foot .podpishis {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_4_foot {
    display: none;
  }
  main .icona_box {
    display: none;
  }
}
@media screen and (max-width: 1220px) {
  main footer .text_box_2_foot {
    width: 800px;
    transition: 0.5s ease;
  }
}
@media screen and (max-width: 1125px) {
  main .footer_all .text_box_2_foot .box_3_foot form .vvedite_email {
    width: 210px;
    font-size: 14px;
  }
  main .footer_all .text_box_2_foot .box_3_foot form .emailFootSvg {
    position: relative;
    top: -32px;
    left: 180px;
  }
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 20px;
    transition: 0.5s ease;
  }
}
@media screen and (max-width: 1030px) {
  main .footer_all .logo_box_foot {
    display: none;
  }
  main footer .text_box_2_foot {
    width: 1000px;
  }
  main .footer_all {
    flex-wrap: wrap;
  }
  main .footer_all img {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_3_foot form .vvedite_email {
    width: 230px;
  }
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 400px;
  }
}
@media screen and (max-width: 900px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 350px;
  }
}
@media screen and (max-width: 740px) {
  main footer .text_box_2_foot .box_3_foot .na_nashu {
    width: 200px;
  }
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 220px;
  }
  main .footer_all .text_box_2_foot .box_3_foot .vvedite_email {
    width: 210px;
  }
}
@media screen and (max-width: 730px) {
  main footer {
    height: 400px;
  }
  main footer .foot {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_1_foot {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_2_foot {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_4_foot {
    display: flex;
  }
  main .box_3_foot .na_nashu {
    display: none;
  }
  main .footer_all .text_box_2_foot {
    height: 400px;
    flex-direction: column;
  }
  main .footer_all .text_box_2_foot .box_3_foot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  main .footer_all .text_box_2_foot .box_3_foot .vvedite_email {
    width: 300px;
    height: 60px;
    padding: 20px;
  }
  main .footer_all .text_box_2_foot .box_3_foot form .emailFootSvg {
    position: relative;
    top: -40px;
    left: 190px;
  }
  main .text_box_2_foot .box_3_foot .podpishis {
    width: 260px;
    display: flex;
    text-align: center;
  }
  main .icona_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (max-width: 560px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 140px;
  }
}
@media screen and (max-width: 500px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 110px;
  }
}
@media screen and (max-width: 430px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 80px;
  }
}
@media screen and (max-width: 335px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 20px;
  }
}/*# sourceMappingURL=style.css.map */