@import "./variables";
@import "./mixin_media";
@import "./mixin";
@import "./color";
@import "./fonts";



* {
    margin: $zero;
    padding: $zero;
    box-sizing: $border_box;
}


main {
    width: $width_100_tokos;
    height: auto;
    @include flex_Center();
    flex-direction: $flex_column;

    header {
        width: $width_100_tokos;
        height: $header_height;
        border-bottom: $header_border_bottom_2;
        @include flex_center_between();
        padding: $padding_50;

        .container {
            display: none;
            margin: 0 auto;


            .navbar {
                min-height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: white;
                    text-decoration: none;
                }

                .nav-menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0px;

                    li {
                        list-style: none;
                    }

                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }

            .hamburger {
                display: none;
                cursor: pointer;


                .bar {
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    background-color: black;
                    border-radius: 20px;
                }
            }

        }



        .map_box_header {
            width: $map_box_header_width;
            height: $map_box_header_height;
            @include flex_Center();

            svg {
                margin: $margin_10;
            }
        }

        .logo_box {
            a {
                width: $logo_box_width;
                height: $logo_box_height;
                @include flex_Center();

                .bar {
                    margin: $margin_10;
                }
            }
        }

        .btn_header {
            width: $btn_header_width;
            height: $btn_header_height;
            border-radius: $border_radius_8;
            background: $bg_color_green;
            color: $color_white;
            font-family: Lato;
            font-size: $font_size_16;
            font-style: $font_style_normal;
            font-weight: $font_weight_500;
            line-height: $line_height_22;
            @include flex_Center();
            gap: $gap_10;
            border: $border_none;
            cursor: $cursor_pointer;
        }

        .sign_box {
            width: $sign_box_width;
            height: $sign_box_height;
            @include flex_Center();
            gap: $gap_10;

            .karmir {
                width: 16.387px;
                height: 16.387px;
                background: red;
                border-radius: 50%;
                position: relative;
                right: 23px;
                bottom: 5px;
                @include flex_Center();

                span {
                    color: $color_white;
                }
            }

            .dropdown-toggle {
                width: $dropdown_toggle_width;
                height: $dropdown_toggle_height;
                background: none;
                border: none;
            }
        }

        .btn-group .dropdown-menu a {
            @include flex_Center();
            color: $color_black;
        }

        .btn-group .dropdown-menu {
            width: $dropdown_menu_width;
            height: $dropdown_menu_height;
        }
    }

    .down_header {
        width: $down_header_width;
        height: $down_header_height;
        @include flex_Center();

        .menu {
            width: $menu_width;
            height: $menu_height;
            @include flex_center_around();

            a {
                color: $color_dark_gray;
                font-family: Lato;
                font-size: $font_size_16;
                font-style: $font_style_normal;
                font-weight: $font_weight_500;
                line-height: $line_height_22;
                text-decoration: $text_decoration_none;

            }

            .o_nas {
                color: #7EAA92
            }
        }
    }

    @include header();


    .container {
        width: 100%;
        min-height: 500px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-direction: column;

        .rightBox {
            width: 901px;
            height: 764px;
            background: linear-gradient(313deg, #59A084 4.58%, #DBE7E2 88.45%);
            border-radius: 408px 0px 0px 408px;

            .DogImg {
                width: 827px;
                height: 755px;
                position: relative;
                top: 100px;
            }
        }


        .leftBox {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        h1 {
            font-size: 86px;
            margin-bottom: 20px;
            color: #333;
            font-family: Lato;
        }

        p {
            font-size: 32px;
            font-weight: 500;
            line-height: 69px;
            letter-spacing: 0.25px;
            text-align: center;
            font-family: Lato;
            color: #666;
        }

        .peryetiObyavleniyam {
            width: 364px;
            height: 65px;
            background: #7EAA92;
            border-radius: 8px;
            color: white;
            border: none;
            outline: none;
            font-size: 18px;
            font-weight: 600;
            line-height: 69px;
            letter-spacing: 18, 4px;
            text-align: center;
            font-family: Lato;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }


        // :hover {
        //     text-decoration: underline;
        // }
    }

    @include Container();


    footer {
        width: $width_100_tokos;
        height: $footer_height;
        @include flex_start_start();
        @include flex_column();
        border-top: 1px solid var(--Color-Main-color-text, #3F3835);


        .footer_all {
            width: $footer_all_width;
            @include flexBetween();
        }

        .text_box_1_foot {
            @include flex_start_start();
            @include flex_column();

            img {
                cursor: pointer;
            }

            .logo_box_foot {
                width: 268px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include logo_box_foot_position();
            }

        }

        .text_box_2_foot {
            width: $text_box_2_foot_width;
            height: $text_box_2_foot_height;
            @include flex_center_around();

            .box_4_foot {
                width: $width_200;
                height: $box_4_foot_height;
                @include flexCenter();
                @include flex_column();

                a {
                    text-decoration: none;

                    span {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_500;
                        line-height: $line_height_22;
                    }
                }
            }


            .box_1_foot {
                width: $width_200;
                height: $box_1_foot_height;
                @include flex_start_start();
                @include flex_column();


                a {
                    text-decoration: none;

                    span {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_500;
                        line-height: $line_height_22;
                    }
                }


                .karta_sayta {
                    color: $color_dark_3f;
                    font-family: Lato;
                    font-size: $font_size_18;
                    font-style: $font_style_normal;
                    font-weight: $font_weight_600;
                    line-height: $line_height_22;
                }


            }


            .box_2_foot {
                width: $width_200;
                height: $height_220;
                @include flex_start_start();
                @include flex_column();

                a {
                    text-decoration: none;

                    span {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_500;
                        line-height: $line_height_22;
                    }

                }

                .kontakti {
                    color: $color_dark_3f;
                    font-family: Lato;
                    font-size: $font_size_16;
                    font-style: $font_style_normal;
                    font-weight: $font_weight_600;
                    line-height: $line_height_22;
                }
            }

            .box_3_foot {
                width: $width_200;
                height: $height_220;
                @include flex_start_start();
                @include flex_column();
                gap: $gap_20;


                a {
                    text-decoration: none;


                    .na_nashu {
                        width: $na_nashu_width;
                    }

                    .prisoedinay {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_600;
                        line-height: $line_height_22;
                    }


                    span {
                        color: $color_dark_3f;
                        font-family: Lato;
                        font-size: $font_size_16;
                        font-style: $font_style_normal;
                        font-weight: $font_weight_500;
                        line-height: $line_height_22;
                    }
                }

                form {

                    input {
                        outline: none;
                        cursor: pointer;
                    }

                    .emailFootSvg {
                        position: relative;
                        top: -32px;
                        left: 210px;
                    }
                }

                .vvedite_email {
                    width: $vvedite_email_width;
                    height: $vvedite_email_height;
                    border-radius: $border_radius_8;
                    border: $border_foot;
                    background: $color_foot;
                    @include flexBetween();
                    padding: $padding_20;
                }
            }
        }

    }

    .foot {
        width: $width_100_tok;
        height: $foot_height;
        border-top: $border_top_foot;
        background: $color_foot;
        @include flexBetween();
        padding: $padding_0_50px_0_50px;


        .icon {
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .text_box_2_foot .box_1_foot span {
            color: $color_dark_3f;
            font-family: Lato;
            font-size: $font_size_18;
            font-style: $font_style_normal;
            font-weight: $font_weight_600;
            line-height: $line_height_22;
        }


        a {
            text-decoration: none;

            span {
                color: $span_color_rgba;
                font-family: Poppins;
                font-size: $font_size_13;
                font-style: $font_style_normal;
                font-weight: $font_weight_400;
                line-height: $line_height_22;
            }
        }
    }

    @include Footer();
}