$zero:0;
$border_box:border-box;

// header
$width_100_tokos:100%;
$flex_column:column;
$header_height:99px;
$header_border_bottom_2:2px solid rgba(63, 56, 53, 0.3);
$padding_50:50px;
$map_box_header_width:101px;
$map_box_header_height:65px;
$logo_box_width:270px;
$logo_box_height:44px;
$margin_10:10px;
$btn_header_width:243px;
$btn_header_height:52px;
$border_radius_8:8px;
$font_size_16:16px;
$font_style_normal:normal;
$font_weight_500:500;
$line_height_22:22px;
$gap_10:10px;
$border_none:none;
$cursor_pointer:pointer;
$sign_box_width:400px;
$sign_box_height:65px;
$dropdown_toggle_width:55px;
$dropdown_toggle_height:55px;
$dropdown_menu_width:200px;
$dropdown_menu_height:120px;
// $down_header_width:100%;
$down_header_height:77px;
$menu_width:562px;
$menu_height:22px;
$text_decoration_none:none;





// footer
$footer_height:270px;
$footer_all_width:98%;
$text_box_2_foot_width:933px;
$text_box_2_foot_height:220px;
$width_200:200px;
$box_4_foot_height:80px;
$box_1_foot_height:220px;
$height_220:220px;
$gap_20:20px;
$na_nashu_width:230px;
$border_foot:1px solid var(--color-main-color-text, #3F3835);
$vvedite_email_width:250px;
$vvedite_email_height:40px;
$foot_height:41px;
$border_top_foot:1px solid var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
$padding_0_50px_0_50px:0 50px 0 50px;
$font_size_13:13px;
$font_size_18:18px;
$font_weight_600:600;
$padding_20:20px;
$width_100_tok:100%;
$font_weight_400:400;
