@media screen and (max-width: 560px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  }
  header .btn_header {
    display: none;
  }
  .sign_box .btn-group {
    display: flex;
  }
  header .logo_box svg {
    position: relative;
    left: 20px;
  }
}
@media screen and (max-width: 490px) {
  header .map_box_header span {
    display: none;
  }
  header .map_box_header svg {
    position: relative;
    left: 0px;
  }
  header .logo_box svg {
    position: relative;
    left: -80px;
  }
}
@media screen and (max-width: 440px) {
  header {
    padding: 5px;
  }
  header .map_box_header {
    width: 50px;
  }
  header .map_box_header span {
    display: none;
  }
  header .map_box_header svg {
    display: none;
  }
  header .btn_header {
    display: none;
  }
  header .sign_box {
    width: 260px;
  }
  header .sign_box span {
    display: none;
  }
  .sign_box .btn-group {
    display: flex;
  }
  header .logo_box svg {
    position: relative;
    left: -30px;
  }
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main header {
  width: 100%;
  height: 99px;
  border-bottom: 2px solid rgba(63, 56, 53, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main header .container {
  display: none;
  margin: 0 auto;
}
main header .container .navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main header .container .navbar a {
  color: white;
  text-decoration: none;
}
main header .container .navbar .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
main header .container .navbar .nav-menu li {
  list-style: none;
}
main header .container .navbar .nav-menu a {
  color: black;
  text-decoration: none;
}
main header .container .hamburger {
  display: none;
  cursor: pointer;
}
main header .container .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: black;
  border-radius: 30px;
}
main header .map_box_header {
  width: 101px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main header .map_box_header svg {
  margin: 10px;
}
main header .logo_box a {
  width: 270px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main header .logo_box a .bar {
  margin: 10px;
}
main header .btn_header {
  width: 243px;
  height: 52px;
  border-radius: 8px;
  background: #7EAA92;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}
main header .sign_box {
  width: 400px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main header .sign_box .karmir {
  width: 16.387px;
  height: 16.387px;
  background: red;
  border-radius: 50%;
  position: relative;
  right: 23px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main header .sign_box .karmir span {
  color: #fff;
}
main .down_header {
  width: 1500px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: #ffffff;
}
main .down_header .menu {
  width: 562px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .down_header .menu a {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}
@media screen and (max-width: 1920px) {
  main .sign_box .btn-group {
    display: none;
  }
  main header .map_box_header .media {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  main header .btn_header {
    width: 200px;
  }
}
@media screen and (max-width: 830px) {
  main header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  main header .sign_box {
    width: 150px;
  }
  main header .logo_box {
    width: 200px;
  }
  main header .logo_box a {
    width: 200px;
  }
  main header .logo_box .bar {
    width: 150px;
  }
  main header .btn_header {
    width: 135px;
    height: 50px;
    font-size: 11px;
  }
}
@media screen and (max-width: 600px) {
  main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-page, #F2F2F2);
    padding: 20px;
  }
  main .sign_box svg {
    display: none;
  }
  main header .sign_box .karmir {
    display: none;
  }
  main header .sign_box .karmir span {
    display: none;
  }
  main header .container {
    display: flex;
    width: 10%;
  }
  main header .container .hamburger {
    display: block;
    position: relative;
    right: 70px;
  }
  main header .sign_box {
    width: 100px;
  }
  main header .sign_box img {
    position: relative;
    left: 50px;
  }
  main header .sign_box .btn_header {
    display: none;
  }
  main .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  main .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  main .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  main header .nav-menu {
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
  }
  main header .nav-menu .nav-item {
    margin: 16px 0;
  }
  main header .nav-menu.active {
    left: 6px;
    width: 98%;
    height: 500px;
    background: var(--color-main-color-green, #7EAA92);
  }
  main header .logo_box {
    display: none;
  }
  main header .logo_box .bar {
    display: none;
  }
  main header .btn_header {
    width: 243px;
    height: 52px;
    font-size: 13px;
  }
  main header .map_box_header span {
    display: none;
  }
  main header .map_box_header .media {
    display: flex;
    position: relative;
    right: 40px;
  }
  main header .map_box_header svg {
    display: none;
  }
}
main .down_header {
  width: 1500px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .down_header .menu {
  width: 562px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .down_header .menu a {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}
@media screen and (max-width: 1530px) {
  main .down_header {
    width: 98%;
  }
}
@media screen and (max-width: 1920px) {
  main .down_header {
    width: 100%;
    display: flex;
  }
}
@media screen and (max-width: 1920px) and (max-width: 600px) {
  main .down_header {
    display: none;
  }
}
main .first_page {
  width: 100%;
  height: 995px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 50px;
}
main .first_page .boxer_media {
  width: 579px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid var(--stroke-main-color-card, rgba(63, 56, 53, 0.2));
  background: var(--color-pure-white, #FFF);
  position: relative;
  top: 570px;
  right: 50px;
  z-index: 9;
}
main .first_page .f_page_all {
  width: 95%;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
main .first_page .f_page_all .f_page_verev_nerqev {
  flex-direction: column;
}
main .first_page .f_page_box_verev {
  width: 346px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .first_page .f_page_box_verev a {
  text-decoration: none;
}
main .first_page .f_page_box_verev span {
  height: 20px;
  color: rgba(89, 79, 75, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
}
main .first_page .f_page_box1 {
  width: 368px;
  height: 702px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid var(--Stroke-Main-color-card, rgba(63, 56, 53, 0.2));
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
main .first_page .f_page_box1 a {
  color: var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 156%;
  /* 31.2px */
}
main .first_page .f_page_box1 .border_shrjan {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7EAA92;
  border: 3px solid #F8F8F8;
  border-radius: 50%;
  position: relative;
  left: 50px;
}
main .first_page .f_page_box1 .border_shrjan svg {
  width: 16px;
  height: 16px;
}
main .first_page .f_page_box1 img {
  position: relative;
  top: 40px;
}
main .first_page .f_page_box1 .moy_profil {
  color: var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.439px;
}
main .first_page .f_page_box1 .shrjan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--color-main-color-green, #7EAA92);
  border: 3px solid #F8F8F8;
  border-radius: 100%;
  position: relative;
  bottom: 45px;
  left: 45px;
}
main .first_page .f_page_box1 .Elizaveta {
  color: var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  position: relative;
  top: 50px;
}
main .first_page .f_page_box1 .f_page_text_box_1 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100px;
}
main .first_page .f_page_box1 .f_page_text_box_1 a {
  text-decoration: none;
  color: #212529;
}
main .first_page .f_page_box1 .f_page_text_box_1 .box_1_moi {
  width: 368px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  position: relative;
  left: 30px;
  border-right: 10px solid #7EAA92;
  background: #DBE7E2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
main .first_page .f_page_box1 .f_page_text_box_1 .box_1 {
  width: 368px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  position: relative;
  left: 30px;
}
main .first_page .f_page_box1 .f_page_text_box_1 .box_1:active {
  border-right: 10px solid #7EAA92;
  background: #DBE7E2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
main .first_page .f_page_box1 .f_page_text_box_1 .box_1 .border {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #EC4C4C;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.25));
}
main .first_page .f_page_box_2 {
  width: 1327px;
  height: 751px;
  position: relative;
}
main .first_page .f_page_box_2 .nerqev_all {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
main .first_page .f_page_box_2 img {
  position: absolute;
  right: 50px;
  top: -125px;
}
main .first_page .f_page_box_2 form .box3_nerqev {
  width: 400px;
  height: 315px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
main .first_page .f_page_box_2 form .box3_nerqev .matit {
  position: relative;
  left: 300px;
  top: 50px;
}
main .first_page .f_page_box_2 form .box3_nerqev .imya {
  width: 396px;
  height: 58px;
  border-radius: 8px;
  border: 2px solid rgba(63, 56, 53, 0.15);
  background: #F8F5F5;
  padding: 10px;
  outline: none;
}
main .first_page .f_page_box_2 form .box3_nerqev .E_mail {
  width: 396px;
  height: 58px;
  border-radius: 8px;
  border: 2px solid rgba(63, 56, 53, 0.15);
  background: #F8F5F5;
  padding: 10px;
  outline: none;
}
main .first_page .f_page_box_2 form .box3_nerqev .password {
  width: 396px;
  height: 58px;
  border-radius: 8px;
  border: 2px solid rgba(63, 56, 53, 0.15);
  background: #F8F5F5;
  padding: 10px;
  outline: none;
}
main .first_page .f_page_box_2 .box_4_nerqev {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
main .first_page .f_page_box_2 .box_4_nerqev .download {
  position: relative;
  left: 95px;
  top: 40px;
}
main .first_page .f_page_box_2 .box_4_nerqev .download_2 {
  position: relative;
  left: 105px;
  top: 40px;
}
main .first_page .f_page_box_2 .box_4_nerqev .surname {
  width: 396px;
  height: 58px;
  border-radius: 8px;
  border: 2px solid rgba(63, 56, 53, 0.15);
  background: #F8F5F5;
  padding: 10px;
  outline: none;
}
main .first_page .f_page_box_2 .box_4_nerqev .telephone {
  width: 396px;
  height: 58px;
  border-radius: 8px;
  border: 2px solid rgba(63, 56, 53, 0.15);
  background: #F8F5F5;
  padding-left: 50px;
  outline: none;
}
main .first_page .f_page_box_2 .box_4_nerqev .flag {
  position: relative;
  top: 45px;
  right: 50px;
}
main .first_page .f_page_box_2 .box_4_nerqev .verifikacia {
  width: 396px;
  height: 58px;
  border-radius: 8px;
  border: 2px solid rgba(63, 56, 53, 0.15);
  background: #F8F5F5;
  padding: 10px;
  outline: none;
}
main .first_page .f_page_box_2 .box_4_nerqev .verifikacia_label {
  width: 396px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .first_page .f_page_box_2 .box_4_nerqev .verifikacia_label .border_verifik {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(63, 56, 53, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(63, 56, 53, 0.5);
}
main .first_page .f_page_box_2 .box_4_nerqev .verifikacia_priuta {
  width: 396px;
  height: 58px;
  border-radius: 8px;
  border: 2px solid rgba(63, 56, 53, 0.15);
  background: #F8F5F5;
  padding: 10px;
  outline: none;
}
main .first_page .f_page_box_2 .box_4_nerqev .verifikacia_priuta .border_verifik {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .first_page .f_page_box_2 .box_5_nerqev {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
  top: 10px;
  right: 30px;
}
main .first_page .f_page_box_2 .box_5_nerqev .obshi_label {
  width: 300px;
  height: 80px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}
main .first_page .f_page_box_2 .box_5_nerqev .obshi_label span {
  color: var(--color-main-color-text, #3F3835);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  /* 122.222% */
}
main .first_page .f_page_box_2 .box_5_nerqev .predopochitemiy {
  color: var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  position: relative;
  right: 45px;
}
main .first_page .f_page_box_2 .box_5_nerqev .soxranit_izmenia {
  width: 215px;
  height: 58px;
  border-radius: 8px;
  background: var(--color-main-color-green, #7EAA92);
  border: none;
  color: var(--Color-Pure-white, #FFF);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}
main .first_page .f_page_box_2 .box_5_nerqev .chekbox {
  width: 290px;
  height: 400px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
}
main .first_page .f_page_box_2_verev {
  width: 1327px;
  height: 194px;
  background: #DBE7E2;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
main .first_page .f_page_box_2_verev span {
  color: var(--color-main-color-text, #3F3835);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 69px;
  letter-spacing: 0.25px;
  position: relative;
  left: 30px;
}
main .first_page .f_page_box_2_verev .btn_box_verev {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .first_page .f_page_box_2_verev .btn_box_verev .podverdit_email {
  width: 287px;
  height: 50px;
  border-radius: 8px;
  background: var(--color-main-color-green, #7EAA92);
  box-shadow: 0px 2px 2px 0px rgba(8, 35, 48, 0.2);
  border: none;
  color: white;
  cursor: pointer;
}
main .first_page .f_page_box_2_verev .btn_box_verev .podverdit_telefon {
  width: 287px;
  height: 50px;
  border-radius: 8px;
  background: var(--color-main-color-green, #7EAA92);
  box-shadow: 0px 1px 2px 0px rgba(8, 35, 48, 0.2);
  border: none;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1920px) {
  main .first_page {
    height: 1050px;
    position: relative;
    top: 220px;
  }
  main .first_page .nerqev_all .box_5_nerqev {
    height: 350px;
  }
  main .first_page .nerqev_all .box_5_nerqev .soxranit_izmenia {
    position: relative;
    top: 150px;
    left: 0px;
  }
  main .first_page .f_page_box_2 .nerqev_all {
    position: relative;
    left: 60px;
  }
  main .first_page .f_page_box_verev {
    position: relative;
    left: -30px;
    top: -90px;
  }
  main .first_page .f_page_box1 {
    position: relative;
    right: 40px;
    top: -80px;
  }
  main .first_page .boxer_media {
    display: none;
  }
  main .first_page .f_page_box1 .shrjan {
    display: none;
  }
  main .first_page .f_page_box1 .moy_profil {
    display: none;
  }
  main .first_page .f_page_box_2 .f_page_box_2_verev {
    position: relative;
    left: 80px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1_moi {
    width: 368px;
    position: relative;
    left: 0;
    padding: 30px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 368px;
    position: relative;
    left: 0;
    padding: 30px;
  }
  main .first_page .f_page_box1 {
    height: 700px;
    position: relative;
    left: 0px;
  }
  main .first_page .f_page_box1 .Elizaveta {
    position: relative;
    top: 50px;
  }
}
@media screen and (max-width: 1790px) {
  main .first_page {
    height: 1100px;
  }
  main .first_page .f_page_box_verev {
    width: 300px;
    position: relative;
    bottom: 30px;
  }
  main .first_page .f_page_box1 .Elizaveta {
    position: relative;
    top: -10px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 {
    position: relative;
    top: 20px;
  }
  main .first_page .f_page_box1 img {
    position: relative;
    top: -30px;
  }
  main .first_page .f_page_box1 .border_shrjan {
    position: relative;
    top: -100px;
  }
  main .first_page .f_page_box_verev {
    position: relative;
    left: 0px;
  }
  main .first_page .f_page_box1 {
    width: 368px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .first_page .f_page_box_2 .f_page_box_2_verev {
    width: 1100px;
  }
  main .first_page .nerqev_all {
    flex-wrap: wrap;
  }
  main .first_page .nerqev_all .box_5_nerqev {
    height: 200px;
  }
  main .first_page .nerqev_all .box_5_nerqev .soxranit_izmenia {
    position: relative;
    top: 50px;
    right: 40px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 {
    width: 330px;
    position: relative;
    left: -20px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1_moi {
    width: 368px;
    position: relative;
    left: 3px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 368px;
    position: relative;
    left: 3px;
  }
}
@media screen and (max-width: 1675px) {
  main .first_page .nerqev_all .box_5_nerqev {
    height: 300px;
    position: relative;
    right: 300px;
    top: -100px;
  }
  main .first_page .f_page_box1 {
    position: relative;
    left: -3px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 365px;
    position: relative;
    left: 3px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1_moi {
    width: 365px;
    position: relative;
    left: 3px;
  }
  main .first_page .f_page_box1 .border_shrjan {
    position: relative;
    top: -60px;
  }
  main .first_page .f_page_box_2 .f_page_box_2_verev {
    width: 1000px;
  }
}
@media screen and (max-width: 1500px) {
  main .first_page {
    height: 1050px;
  }
  main .first_page .f_page_all {
    flex-wrap: wrap;
  }
  main .first_page .f_page_box1 img {
    position: relative;
    top: 0px;
  }
  main .first_page .f_page_box1 .border_shrjan {
    position: relative;
    top: -50px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1200px;
    height: 400px;
    border: none;
    box-shadow: none;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 {
    width: 1200px;
    gap: 10px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 {
    height: 70px;
    flex-direction: row;
    position: relative;
    left: 20px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1_moi {
    width: 180px;
    position: relative;
    left: 10px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1 .border {
    display: none;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 180px;
    position: relative;
    left: 10px;
  }
  main .first_page .f_page_box_2 img {
    display: none;
  }
  main .first_page .f_page_box_2 .f_page_box_2_verev {
    display: none;
  }
  main .first_page .f_page_box_verev {
    display: none;
  }
  main .first_page .nerqev_all .box_5_nerqev {
    height: 200px;
    position: relative;
    right: 0px;
    top: 35px;
  }
  main .first_page .nerqev_all .box_5_nerqev .soxranit_izmenia {
    position: relative;
    top: 50px;
    right: 40px;
  }
}
@media screen and (max-width: 1380px) {
  main .first_page {
    height: 1300px;
  }
  main .first_page .nerqev_all .box_5_nerqev {
    width: 420px;
    position: relative;
    top: -100px;
    right: 300px;
  }
  main .first_page .nerqev_all .box_5_nerqev .soxranit_izmenia {
    position: relative;
    top: 50px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 span {
    display: none;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 100px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1_moi {
    width: 100px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1_moi span {
    display: none;
  }
}
@media screen and (max-width: 1295px) {
  main .first_page .f_page_verev_nerqev .f_page_box1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    height: 400px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 {
    width: 900px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 170px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1_moi {
    width: 170px;
  }
}
@media screen and (max-width: 1110px) {
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 span {
    display: none;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 100px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1_moi {
    width: 100px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1_moi span {
    display: none;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 {
    width: 700px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 {
    width: 500px;
  }
  main .first_page .nerqev_all .box_5_nerqev {
    position: relative;
    bottom: 120px;
    right: 200px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 180px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1_moi {
    width: 140px;
  }
}
@media screen and (max-width: 970px) {
  main .first_page {
    height: 1650px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 span {
    width: 90px;
  }
}
@media screen and (max-width: 960px) {
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 span {
    display: none;
  }
  main .first_page .nerqev_all .box_5_nerqev {
    width: 400px;
    position: relative;
    bottom: 0px;
    left: -100px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 70px;
  }
  main .first_page .f_page_box1 .f_page_text_box_1 .box_1 .border {
    width: 20px;
    height: 20px;
    position: relative;
    left: -20px;
  }
}
@media screen and (max-width: 945px) {
  main .first_page .nerqev_all .box_5_nerqev {
    width: 400px;
    height: 300px;
    position: relative;
    top: 0px;
    left: 5px;
  }
  main .first_page .f_page_box_2 form .box3_nerqev {
    height: 270px;
    position: relative;
    left: -30px;
  }
  main .first_page .f_page_box_2 .box_4_nerqev {
    position: relative;
    left: -30px;
  }
  main .first_page .nerqev_all .box_5_nerqev {
    position: relative;
    left: -30px;
  }
  main .first_page .f_page_box_2 .box_4_nerqev {
    height: 352px;
  }
  main .first_page .nerqev_all .box_5_nerqev .soxranit_izmenia {
    position: relative;
    left: -30px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 {
    width: 500px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 {
    position: relative;
    left: 10px;
    gap: 0;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 .box_1 {
    width: 90px;
  }
}
@media screen and (max-width: 600px) {
  main .first_page {
    background: var(--color-page, #F2F2F2);
    position: relative;
    top: 100px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 {
    position: relative;
    bottom: 100px;
  }
  main .first_page .f_page_box1 .shrjan {
    display: flex;
    position: relative;
    top: -60px;
  }
  main .first_page .f_page_box1 .moy_profil {
    display: flex;
    position: relative;
    top: -20px;
  }
  main .first_page .f_page_box1 .Elizaveta {
    position: relative;
    top: -80px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 .f_page_text_box_1 {
    display: none;
  }
  main .first_page .boxer_media {
    display: flex;
    width: 120%;
  }
  main .first_page .f_page_box_2 form .box3_nerqev {
    position: relative;
    top: -170px;
    left: -60px;
  }
  main .first_page .f_page_box_2 form .box_4_nerqev {
    position: relative;
    top: -110px;
    left: -60px;
  }
  main .first_page .f_page_box_2 form .box_5_nerqev {
    width: 300px;
    height: 300px;
    position: relative;
    top: -110px;
    left: -50px;
  }
  main .first_page .f_page_box1 .border_shrjan {
    display: none;
  }
  main .first_page .f_page_box_2 .nerqev_all {
    position: relative;
    left: 0px;
  }
  main .first_page .f_page_box_2 form .box3_nerqev {
    height: 270px;
    position: relative;
    left: 30px;
  }
  main .first_page .f_page_box_2 form .box_4_nerqev {
    position: relative;
    left: 30px;
  }
  main .first_page .f_page_box_2 form .box_5_nerqev {
    position: relative;
    left: 30px;
  }
}
@media screen and (max-width: 550px) {
  main .first_page .nerqev_all .box_5_nerqev {
    width: 250px;
  }
  main .first_page .f_page_all .f_page_text_box_1 {
    display: none;
  }
  main .first_page .boxer_media {
    width: 110%;
    height: 75px;
    position: relative;
    left: 0px;
    top: 570px;
  }
  main .first_page .f_page_verev_nerqev .f_page_box1 {
    width: 250px;
  }
}
@media screen and (max-width: 460px) {
  main .first_page .box3_nerqev {
    height: 300px;
  }
  main .first_page .f_page_box_2 form .box3_nerqev .matit {
    position: relative;
    left: 270px;
  }
  main .first_page .f_page_box_2 .box_4_nerqev .download {
    position: relative;
    left: 65px;
  }
  main .first_page .f_page_box_2 .box_4_nerqev .download_2 {
    position: relative;
    left: 75px;
  }
  main .first_page .box_4_nerqev {
    height: 300px;
    position: relative;
    left: 30px;
  }
  main .first_page .nerqev_all .box_5_nerqev {
    width: 300px;
  }
  main .first_page .f_page_box_2 form .nerqev_all .box3_nerqev input {
    width: 360px;
    height: 50px;
  }
  main .first_page .f_page_box_2 form .nerqev_all .box3_nerqev {
    width: 350px;
    position: relative;
    left: 0px;
  }
  main .first_page .f_page_box_2 form .nerqev_all .box_4_nerqev {
    width: 350px;
    position: relative;
    left: 0px;
  }
  main .first_page .f_page_box_2 form .nerqev_all .box_4_nerqev input {
    width: 360px;
    height: 50px;
  }
  main .first_page .f_page_box_2 form .nerqev_all .box_4_nerqev .border_verifik {
    position: relative;
    right: 50px;
  }
  main .first_page .boxer_media {
    position: relative;
    left: -20px;
  }
}
@media screen and (max-width: 430px) {
  main .first_page .f_page_box_2 .box_4_nerqev .verifikacia_label {
    width: 360px;
  }
}
main footer {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border-top: 1px solid var(--Color-Main-color-text, #3F3835);
}
main footer .footer_all {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main footer .text_box_1_foot {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
main footer .text_box_1_foot img {
  cursor: pointer;
}
main footer .text_box_1_foot .logo_box_foot {
  width: 268px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 50px;
}
main footer .text_box_2_foot {
  width: 933px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main footer .text_box_2_foot .box_4_foot {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main footer .text_box_2_foot .box_4_foot a {
  text-decoration: none;
}
main footer .text_box_2_foot .box_4_foot a span {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
main footer .text_box_2_foot .box_1_foot {
  width: 200px;
  height: 220px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
main footer .text_box_2_foot .box_1_foot a {
  text-decoration: none;
}
main footer .text_box_2_foot .box_1_foot a span {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
main footer .text_box_2_foot .box_1_foot .karta_sayta {
  color: #3F3835;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
main footer .text_box_2_foot .box_2_foot {
  width: 200px;
  height: 220px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
main footer .text_box_2_foot .box_2_foot a {
  text-decoration: none;
}
main footer .text_box_2_foot .box_2_foot a span {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
main footer .text_box_2_foot .box_2_foot .kontakti {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
main footer .text_box_2_foot .box_3_foot {
  width: 200px;
  height: 220px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}
main footer .text_box_2_foot .box_3_foot a {
  text-decoration: none;
}
main footer .text_box_2_foot .box_3_foot a .na_nashu {
  width: 230px;
}
main footer .text_box_2_foot .box_3_foot a .prisoedinay {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
main footer .text_box_2_foot .box_3_foot a span {
  color: #3F3835;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
main footer .text_box_2_foot .box_3_foot form input {
  outline: none;
  cursor: pointer;
}
main footer .text_box_2_foot .box_3_foot form .emailFootSvg {
  position: relative;
  top: -32px;
  left: 210px;
}
main footer .text_box_2_foot .box_3_foot .vvedite_email {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-main-color-text, #3F3835);
  background: #DBE7E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
main .foot {
  width: 100%;
  height: 41px;
  border-top: 1px solid var(--color-main-color-text-75, rgba(63, 56, 53, 0.75));
  background: #DBE7E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}
main .foot .icon {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .foot .text_box_2_foot .box_1_foot span {
  color: #3F3835;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
main .foot a {
  text-decoration: none;
}
main .foot a span {
  color: rgba(63, 56, 53, 0.75);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
@media screen and (max-width: 1920px) {
  main .box_3_foot .podpishis {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_4_foot {
    display: none;
  }
  main .icona_box {
    display: none;
  }
}
@media screen and (max-width: 1220px) {
  main footer .text_box_2_foot {
    width: 800px;
    transition: 0.5s ease;
  }
}
@media screen and (max-width: 1125px) {
  main footer .text_box_2_foot .box_3_foot .vvedite_email {
    width: 210px;
    font-size: 14px;
  }
  main .footer_all .text_box_2_foot .box_3_foot form .emailFootSvg {
    position: relative;
    top: -32px;
    left: 180px;
  }
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 20px;
    transition: 0.5s ease;
  }
}
@media screen and (max-width: 1030px) {
  main .footer_all .logo_box_foot {
    display: none;
  }
  main footer .text_box_2_foot {
    width: 1000px;
  }
  main .footer_all {
    flex-wrap: wrap;
  }
  main .footer_all img {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_3_foot form .vvedite_email {
    width: 230px;
  }
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 400px;
  }
}
@media screen and (max-width: 900px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 350px;
  }
}
@media screen and (max-width: 740px) {
  main footer .text_box_2_foot .box_3_foot .na_nashu {
    width: 200px;
  }
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 220px;
  }
  main .footer_all .text_box_2_foot .box_3_foot .vvedite_email {
    width: 210px;
  }
}
@media screen and (max-width: 730px) {
  main footer {
    height: 400px;
  }
  main footer .foot {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_1_foot {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_2_foot {
    display: none;
  }
  main .footer_all .text_box_2_foot .box_4_foot {
    display: flex;
  }
  main .box_3_foot .na_nashu {
    display: none;
  }
  main .footer_all .text_box_2_foot {
    height: 400px;
    flex-direction: column;
  }
  main .footer_all .text_box_2_foot .box_3_foot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  main .footer_all .text_box_2_foot .box_3_foot .vvedite_email {
    width: 300px;
    height: 60px;
    padding: 20px;
  }
  main .footer_all .text_box_2_foot .box_3_foot form .emailFootSvg {
    position: relative;
    top: -40px;
    left: 190px;
  }
  main .text_box_2_foot .box_3_foot .podpishis {
    width: 260px;
    display: flex;
    text-align: center;
  }
  main .icona_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (max-width: 560px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 140px;
  }
}
@media screen and (max-width: 500px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 110px;
  }
}
@media screen and (max-width: 430px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 80px;
  }
}
@media screen and (max-width: 335px) {
  main footer .text_box_1_foot .logo_box_foot {
    position: relative;
    left: 20px;
  }
}/*# sourceMappingURL=style.css.map */